<?php  $val = $this->getTotal()->getValue(); $val = number_format($val, 2, ',', '.')." ".Mage::helper('function')->getCuSymbol(); ?>
<tr>
	<td class="a-right"><strong>I Alt</strong></td>
	<td class="a-right"><strong><?php echo $val ?></strong></td>
</tr>

