<?php  
	$cuSymbol = " ".Mage::helper('function')->getCuSymbol();
	$extax = $this->getShippingExcludeTax(); $extax= number_format($extax, 2, ',', '.').$cuSymbol; 
	$inctax = $this->getShippingIncludeTax(); $inctax = number_format($inctax, 2, ',', '.').$cuSymbol; 

?>
 

<?php if ($this->displayBoth()):?>
<tr>
    <td style="<?php echo $this->getStyle() ?>" class="a-right" colspan="<?php echo $this->getColspan(); ?>">
          <strong>Shipping (Tax Ex.)</strong>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="a-right">
        <?php echo $extax ?>
    </td>
</tr>
<tr>
    <td style="<?php echo $this->getStyle() ?>" class="a-right" colspan="<?php echo $this->getColspan(); ?>">
        <strong>Shipping (Tax Inc.)</strong>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="a-right">
        <?php echo $inctax ?>
    </td>
</tr>
<?php elseif($this->displayIncludeTax()) : ?>
<tr>
    <td style="<?php echo $this->getStyle() ?>" class="a-right" colspan="<?php echo $this->getColspan(); ?>">
       <strong>Shipping</strong>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="a-right">
          <?php echo $inctax ?>
    </td>
</tr>
<?php else:?>
<tr>
    <td style="<?php echo $this->getStyle() ?>" class="a-right" colspan="<?php echo $this->getColspan(); ?>">
	<strong>Shipping</strong>
    </td>
    <td style="<?php echo $this->getStyle() ?>" class="a-right">
	<?php echo $extax ?>
    </td>
</tr>
<?php endif;?>
