<?php  $val = $this->getTotal()->getValue(); $val = number_format($val, 2, ',', '.')." ".Mage::helper('function')->getCuSymbol(); ?>
<tr>
	<td class="a-right"><strong>Total</strong></td>
	<td class="a-right"><?php echo $val ?></td>
</tr>
