			<?php
			$_product = $this->getProduct();
			$_helper = $this->helper('catalog/output');
			$mainImg = $this->helper('catalog/image')->init($_product, 'image'); 
			?>

			<div class="imgs">
				<a href="<?php echo $mainImg; ?>"><img src="<?php echo $mainImg; ?>" class="main" /></a>
				<?php if (count($this->getGalleryImages()) > 1):?>
				<ul>
					<?php foreach ($this->getGalleryImages() as $_image): 
					 $img = $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile()); ?>
					<li><a href="<?php echo $img; ?>"><img src="<?php echo $img->resize(130) ?>" /></a></li>
					  <?php endforeach; ?>
				</ul>
				<?php endif; ?>
			</div>
