					<?php
					
					//Mage::helper('function')->testing(); 	
					$p = $this->getProduct(); 
					if ($p->getData('type_id') == "grouped") :
						
						$prods = $p->getTypeInstance(true)->getAssociatedProducts($p);
						$attrColors = array();
						$attrSizes = array();             
						
						foreach ($prods as $prod){
							$size = $prod->getAttributeText('attr_size');
							$color = $prod->getAttributeText('attr_color'); 
							if (!$color) continue;
							$backavail = $prod->getData('backorder_availability'); if ($backavail) $backavail = date("F j, Y", strtotime($backavail));
							$qty = Mage::getModel('cataloginventory/stock_item')->loadByProduct($prod)->getQty();
							if (!in_array($color,$attrColors)) $attrColors[] = $color;
							if (!in_array($size,$attrSizes)) $attrSizes[] = $size;
							if ($size && $color){
								$vars[$color][$size] = $val;
								$vars2[$color][$size]["qty"] = $qty;
								$vars2[$color][$size]["backavail"] =  $backavail;
								$vars2[$color][$size]["id"] =  $prod->getId();
							}
							//echo $prod->getName();
							
							
						}
						
						// echo "<pre>";
						// print_r($vars2);
						/*print_r($attrColors);
						print_r($attrSizes); */
						//var_dump($attrColors); var_dump($attrSizes);	
						
						$attrColors = Mage::helper('function')->attOrder("attr_color",$attrColors);
						$attrSizes = Mage::helper('function')->attOrder("attr_size",$attrSizes);
						//var_dump($attrSizes);
					 
						foreach ($attrSizes as $b){ $th .= "<th>$b</th>"; }
						foreach ($attrColors as $color){ $sizes = "";
							foreach ($attrSizes as $size){
								$class = ""; $title="";
								$qty = intval($vars2[$color][$size]["qty"]);
								$date = $vars2[$color][$size]["backavail"];  if (!$date) $date = "Ukendt";
								$pid = $vars2[$color][$size]["id"];
								
								if ($qty<=5){  $class=" class='o' ";  } 								
								if ($qty<=0){ 									
									$class=" class='r' "; //echo "$qty / $date / 2<br/>";
									$title = " title='Forventet leveringsdato: $date' "; 
								} 
								$sizes .= "<td $class $title><input type='text' id='pid$pid' value='0' class='product-item' /></td>";
							}
							$tr .= "<tr><td>$color</td>$sizes</tr>";												
						}
					 
					 
					 ?>
 
						<table>
							<tr><th>Colour</th><?php echo $th ?></tr>
							<?php echo $tr; ?>
						</table>
						
					<?php endif;  ?>
					
					<?php
					if ($p->getData('type_id') == "configurable") :
						
						$configProduct = Mage::getModel('catalog/product')->load($p->getData(entity_id));
								
								$configurableProduct = Mage::getModel('catalog/product_type_configurable')->setProduct($configProduct);
								$configProduct->getTypeInstance()->setStoreFilter($configProduct->getStore());
								$productAttributeOptions = $configProduct->getTypeInstance(true)->getConfigurableAttributesAsArray($configProduct);
								
								$childProductCollection = $configurableProduct->getUsedProductCollection()
								->addAttributeToSelect('*')							
								->addFilterByRequiredOptions();	
								/*get All product ids of associate products*/
								$childProdIds = $childProductCollection->getAllIds();	
								$associateProductCollection = Mage::getModel('catalog/product')->getCollection()
										->AddAttributeToSelect('*')
										->addAttributeToFilter('type_id','simple')				
										->AddFieldToFilter('entity_id',$childProdIds)
										->addOrder('entity_id','ASC');
								$colorAttributeCode = Mage::getModel('eav/entity_attribute')->loadByCode(Mage_Catalog_Model_Product::ENTITY, 'color');   
								$colorValuesCollection = Mage::getResourceModel('eav/entity_attribute_option_collection')
													->setAttributeFilter($colorAttributeCode->getId())
													->setPositionOrder('ASC')
													->setStoreFilter(Mage::app()->getStore()->getStoreId(), false);
								
								$colorIds = $colorValuesCollection->getColumnValues('option_id');   
								$associateProductCollection->getSelect()->order(new Zend_Db_Expr('FIELD(color, ' . implode(',', $colorIds).')'));
								$associateProductCollection->groupbyAttribute('color');		
								
								
								$associateProductCollection->AddFieldToFilter('status', 1);
								
								foreach($associateProductCollection as $associateProduct){	
									
									$productModel = Mage::getModel('catalog/product');
									$colorAttribute = $productModel->getResource()->getAttribute("color");
									$colorId = $associateProduct->getColor();
										if ($colorAttribute->usesSource()) {
											$colorLabel = $colorAttribute->getSource()->getOptionText($colorId);
											$colorName = explode('(', $colorLabel);
											$colorText = $colorName[0];					
											$colorTemp = array_reverse($colorName);
											$colorName = explode(')', $colorTemp[0]);
										}
										
										$_collection = Mage::getResourceModel('eav/entity_attribute_option_collection')
										->setStoreFilter(0)
										->load();

										foreach( $_collection->toOptionArray() as $_cur_option ) {     
											if ($_cur_option['value'] == $colorId)
											{ 
											
												$colorName = explode('(', $_cur_option['label']);
												$colorText = $colorName[0];      
												$colorTemp = array_reverse($colorName);
												$colorName = explode(')', $colorTemp[0]);
												$colorName[0];
											}      
										}
									
									
									$sizes = "";
									
									$sizeProductCollection = Mage::getModel('catalog/product')->getCollection()
												->AddAttributeToSelect('*')
												->addAttributeToFilter('type_id','simple')						
												->addAttributeToFilter('color',$colorId)
												->AddFieldToFilter('entity_id',$childProdIds)
												->groupbyAttribute('size');	
									$sizeAttributeCode = Mage::getModel('eav/entity_attribute')->loadByCode(Mage_Catalog_Model_Product::ENTITY, 'size');   
									$sizeValuesCollection = Mage::getResourceModel('eav/entity_attribute_option_collection')
										->setAttributeFilter($sizeAttributeCode->getId())
										->setPositionOrder('ASC')
										->setStoreFilter(0, false);
									$sizeIds = $sizeValuesCollection->getColumnValues('option_id');   
									$sizeProductCollection->getSelect()->order(new Zend_Db_Expr('FIELD(size, ' . implode(',', $sizeIds).')'));
									if($user=='')
									{
										$sizeProductCollection->AddFieldToFilter('status', 1);
									}
									
									foreach($sizeProductCollection as $sizeProduct){	
									
										$pid = $sizeProduct->getEntity_id();
										$child = Mage::getModel('catalog/product')->load($sizeProduct->getId());
										
										$qty = Mage::getModel('cataloginventory/stock_item')->loadByProduct($child)->getQty();
										
										$availableQty = $child->getStockItem()->getQty();	
										$minSaleQty = $child->getStockItem()->getMinSaleQty();				
										$isConfigSetting = $child->getStockItem()->getUseConfigMaxSaleQty();
										$maxSaleQty = $child->getStockItem()->getMaxSaleQty();
										$minQty = min($availableQty,$maxSaleQty);
										$sizeAttribute = $productModel->getResource()->getAttribute("size");
										$sizeId = $sizeProduct->getSize();
										if ($sizeAttribute->usesSource()) {
											$sizeLabel = $sizeAttribute->getSource()->getOptionText($sizeId);
										}
										$sizeOptionCollection = Mage::getResourceModel('eav/entity_attribute_option_collection')
													->setAttributeFilter($sizeAttibuteId)
													->setIdFilter($sizeId)
													->setPositionOrder('ASC')
													->setStoreFilter(Mage::app()->getStore()->getStoreId(), false);
										
										$vars[$colorText][$sizeLabel] = $val;
										$vars2[$colorText][$sizeLabel]["qty"] = $qty;
										$vars2[$colorText][$sizeLabel]["id"] =  $sizeProduct->getEntity_id();
										
										$sizes .= "<td $class $title><input type='text' id='pid$pid' value='0' class='product-item' /></td>";
										
									}
									
									$tr .= "<tr><td>$colorText</td>$sizes</tr>";	
								
								 echo "<pre>";
								 print_r($vars2); 
								}
						 ?>
 						<table>
							<tr><th>Colour</th><?php echo $th ?></tr>
							<?php echo $tr; ?>
						</table>
						
					<?php endif;  ?>

					
					
					
					
					
					
