			<?php
				$_product = $this->getProduct();
				$_helper = $this->helper('catalog/output');			
				$mainImg = $_product->getImageUrl(); $raw = new SplFileInfo($mainImg); $miName = $raw->getFilename();
				foreach ($this->getGalleryImages() as $_image) :							
					$img = $this->helper('catalog/image')->init($this->getProduct(), 'image', $_image->getFile()); 
					$raw = new SplFileInfo($img); $filename = $raw->getFilename();
					if ($filename==$miName) { $mainImg = $img."?main=1";  }
					else $list .= "<li><a href='$img'><img src='".$img->resize(130)."' /></a></li>";					
				endforeach;
			?>

			<div class="imgs">
				<a href="<?php echo $mainImg; ?>"><img src="<?php echo $mainImg; ?>" class="main" /></a>
				<?php if (count($this->getGalleryImages()) > 1):?>
				<ul><?php echo $list; ?></ul>
				<?php endif; ?>
			</div>
