<?php if($crumbs && is_array($crumbs)): ?>

<ul class="breadcrumbs">
	<?php foreach($crumbs as $_crumbName=>$_crumbInfo): ?>
	<li>
            <?php if($_crumbInfo['link']): ?>
                <a href="<?php echo $_crumbInfo['link'] ?>" title="<?php echo $this->htmlEscape($_crumbInfo['title']) ?>"><?php echo $this->htmlEscape($_crumbInfo['label']) ?></a>
            <?php else: ?>
                <?php echo $this->htmlEscape($_crumbInfo['label']) ?>
            <?php endif; ?>
            </li>
        <?php endforeach; ?>
</ul>

<?php endif;  ?>


