	
</div>	

<div id="footergroup">
	<div class="xbox fooline"><div class="inbox"></div></div>	
	<div class="xbox footer">		
		<div class="inbox">
			<img src="<?php echo $this->getSkinUrl(); ?>/images/footer-logo.png" class="logo" />
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_links')->toHtml() ?>
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_text')->toHtml() ?>
		</div>
	</div>
</div>

</body>
</html>