	<div class="xbox menu_top">
		<div class="inbox">
			<div class="payment_card">
				<!--<img src="<?php echo $this->getSkinUrl(); ?>images/card-dankort.png" />
				<img src="<?php echo $this->getSkinUrl(); ?>images/card-visa.png" />-->
				<img src="<?php echo $this->getSkinUrl(); ?>images/card-dk-flag.png" />
			</div>

			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header_links')->toHtml() ?>
			
			<form class="search" id="search_form" action="<?php echo $this->getUrl() ?>catalogsearch/result/" method="get">
				<input type="text" class="text" id="search_field" name="q" maxlength="128" value="Søg efter produkt" />
				<input type="submit" class="button" />
				<script type="text/javascript">
				//<![CDATA[				 
					var searchForm = new Varien.searchForm('search_form', 'search_field', 'Søg efter produkt');
					searchForm.initAutocomplete('<?php echo $this->getUrl() ?>catalogsearch/ajax/suggest/', 'search_autocomplete');
				//]]>
				</script>
			</form>
			
			<?php  
				$isLogged = $this->helper('customer')->isLoggedIn();  $uname = $_COOKIE['admin_username'];
				if ($isLogged || $uname) :
				$count = Mage::getModel('checkout/cart')->getQuote()->getItemsQty(); $count = intval($count);
				$total = Mage::getSingleton('checkout/cart')->getQuote()->getGrandTotal();$total = number_format($total, '2', ',', '.'); //$total = str_replace("Dkr","",$total); 
				$storeCurrency = Mage::app()->getStore()->getCurrentCurrencyCode(); 
			?>
			<div class="cart">
				<p class="count"><?php echo $count ?> varer</p>
				<p class="price"><?php echo $total ?> <?php echo strtolower($storeCurrency) ?></p>
				<a href="<?php echo $this->getUrl() ?>checkout/cart/"></a>
			</div>
			<?php endif; echo "\n"; ?>
		</div>
	</div>
	
	<div class="xbox header">
		<div class="inbox">		
			<a href="<?php echo $this->getUrl() ?>"><img src="<?php echo $this->getSkinUrl(); ?>/images/logo.png" class="logo" /></a>
			<div class="banner"><?php $banner = $this->getLayout()->createBlock('cms/block')->setBlockId('header_banner')->toHtml(); echo strip_tags($banner,"<img>,<a>"); ?></div>
			<div class="menu"><?php $links = $this->getLayout()->createBlock('cms/block')->setBlockId('red_menu')->toHtml(); echo strip_tags($links,"<ul>,<li>,<a>,<div>");  ?></div>
			<?php if ($isLogged) :  ?>
			<a href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>" class="login">Tryk her for at logge ud</a>
			<?php else : ?>
			<a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>" class="login">Forhandler Login</a>
			<?php endif; ?>
		</div>
	</div>
	
	