html,body { margin:0; padding:0; font-family: helvetica,arial,verdana; line-height: 18px; font-size: 12px; }

a { color: #333; text-decoration: none; }
a img { border:0; }
.xbox.menu_top a { color: #9D9D9D; }

@font-face {
	font-family: 'Conv_HelveticaNeueLTW1G-Lt';
	src: url('js/HelveticaNeueLTW1G-Lt.eot');
	src: url('js/HelveticaNeueLTW1G-Lt.woff') format('woff'), url('js/HelveticaNeueLTW1G-Lt.ttf') format('truetype'), url('js/HelveticaNeueLTW1G-Lt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5 { font-family: 'Conv_HelveticaNeueLTW1G-Lt';  font-weight: normal; margin-bottom: 20px; }
h1 { font-size: 20px; color: #000; }

.menu, .xbox.nav ul { list-style-type:none; margin:0; padding:0; }
.menu li, .nav li { margin:0; padding:0; }

.xbox { position: relative; }
.xbox .inbox { position: relative; overflow: auto; width: 960px; margin: 0 auto; }

.xbox.menu_top { background-color: #333; color: #9D9D9D; }
.xbox.menu_top .inbox { overflow: visible; height: 30px; }
.xbox.menu_top .payment_card { position: absolute; top:0; left:0; margin: 5px 5px 0 0; }
.xbox.menu_top .payment_card img { margin-right: 5px; }
.xbox.menu_top ul.menu { font-size: 11px; float: left; margin: 6px 0 0 160px;  }
.xbox.menu_top ul.menu li { float:left; margin-right: 20px; }
.xbox.menu_top .search { position: absolute; width: 150px; height: 19px; top:0; right:0; margin: 5px 194px 0 0; background-color: #1A1A1A;   }
.xbox.menu_top .search .text { padding: 0 5px; outline:0; width: 100px; background: transparent; border: 0;  color: #ACACAC; font-style: italic; font-family: arial; font-size: 10px; }	
.xbox.menu_top .search .button { text-indent: -9999px; width: 28px; border:0; background: transparent url(images/search.png) 0 0 no-repeat; float: right; margin:0; cursor: pointer; }	
.xbox.menu_top .cart { background: url(images/shopping-cart-bg.png) 0 0 no-repeat; width: 151px; height: 35px; position: absolute; top:0; right: 0; font-size: 10px; }	
.xbox.menu_top .cart p { position: absolute; top:0; left:0; margin: 2px 0 0 30px; width: 60px; color: #FFF; text-align: center; }
.xbox.menu_top .cart p.price { margin-top:15px;  }
.xbox.menu_top .cart a { width: 50px; height: 20px; position: absolute; top:0; right:0; margin: 8px 10px 0 0; background: url(images/shopping-cart-button.png) 0 0 no-repeat; }
.xbox.menu_top .cart a:hover { background-position: 0 -20px; } 

.xbox.header .inbox { position: relative; height: 122px; overflow: visible; }
.xbox.header .logo { position: absolute; top:0; left:0; margin-top: 18px; }
.xbox.header .banner { position: absolute; top:0; right:0; margin-top: 40px; }
.xbox.header .menu { overflow: visible; }
.xbox.header .menu ul { position: absolute; padding:0; margin: 90px 0 0 0; width: 815px; background-color: #CD082A;  text-transform: uppercase; list-style-type:none; }
.xbox.header .menu ul a { color: #FFF; padding: 2px 5px;  }
.xbox.header .menu ul li { margin:0 0 0 5px; padding: 2px 5px; float:left; position: relative; color: #FFF; }
.xbox.header .menu ul li div { width: 190px;  position: absolute; top:0; left:0;   z-index: 999; margin-top: 20px; padding-top: 5px;  display:none; }
.xbox.header .menu ul li:hover div { display:block;}
.xbox.header .menu ul ul { margin: 0; background: url(images/bg75.png); position: relative; width: auto; overflow: hidden; padding: 10px 10px; border-radius: 5px; text-transform: none; }
.xbox.header .menu ul ul li { display:block;  float: none; margin:0; padding:5px 0;   }
.xbox.header .menu ul ul li.divider { padding: 0; background-color: #666; height: 1px; margin: 8px 0; }
.xbox.header .menu ul ul ul { display: none; }
.xbox.header .login { background-color: #910E2C; color: #FFF; padding: 2px 10px; text-transform: uppercase; font-size: 11px; position: absolute; right:0; top:0; margin-top: 90px; border-left: 12px solid #FFF; }

.xbox.home_banner { height: 345px; background: url(images/GRID-tile.png); }

.xbox.featured_products h2 { font-family: arial; font-weight: bold !important; margin: 20px 0 !important; padding: 2px 10px; background-color: #CCCCCC; color: #FFF; font-size: 12px !important; }
.xbox .product.list { overflow: auto; padding:0 0 0 10px; margin:0; }
.xbox .product.list a { color: #000; }
.xbox .product.list img { width: 100%; height: auto; }
.xbox .product.list li{ position: relative; width: 200px; height: 285px; overflow: hidden; border: 1px solid  #E8E8E8; margin-right: 44px; float: left; text-align: center; }
.xbox .product.list li:nth-child(4n+4) { margin-right: 10px; }
.xbox .product.list p { margin:0; }
.xbox .product.list .title { font-weight: bold; font-size: 14px; margin-bottom: 2px; font-family: myriad pro, arial; }
.xbox .product.list .desc { line-height: 16px; }
.xbox .product.list .more { position: absolute; bottom:0; left:0; width: 100%; display:block; background-color: #8BC53F; font-weight: bold; font-size: 11px; color: #FFF; padding: 5px 0; }

#lexbox { position: relative; overflow: auto;  }
.xbox.main h2 { font-weight: normal; font-size: 20px; margin:0 0 10px 0;  }
.xbox.main .inbox.frontpage { margin-top: 30px;  background: url(images/line.png) center top repeat-x; }
.main .block { overflow: auto;  padding: 30px 0; font-size: 11px; line-height: 16px; font-family: verdana; text-align: justify; text-justify: newspaper; background: url(images/line.png) center bottom repeat-x; }
.main .block:last-child { background: transparent; padding-bottom:0; }
.main .block p:last-child { margin-bottom:0; }
.main .block .col { float: left; }
.main .block .col2 .col { width: 48%; margin-right: 4%; }
.main .block .col2 .col.last { float: right; margin:0; }

.alignright { float: right; margin-left: 10px; }
.alignleft { float: left; margin-right: 10px; }
.aligncenter { display: block; margin: 20px auto; text-align: center; }

.breadcrumbs { display:none; }
.xbox.nav .breadcrumbs { display:block; overflow: auto; background: url(images/breadcrumb-logo.png) left center no-repeat; padding-left: 16px; margin-bottom: 10px; }
.xbox.nav .breadcrumbs li {  background: url(images/breadcrumb-pil.png) right center no-repeat; padding: 1px 16px 0 0; margin-left: 10px; float: left; }
.xbox.nav .breadcrumbs li:last-child{  background: transparent; }
.xbox.nav .breadcrumbs li a { color: #000; font-style: italic;   }
.xbox.nav  a.back, .xbox.category a.back { font-size: 14px; color: #989898; font-family: 'Conv_HelveticaNeueLTW1G-Lt'; }

.xbox.category { margin-top: 20px; }
.xbox.category .inbox { overflow: auto;  }
.xbox.category .inbox .sidebar.left { width: 200px; float: left; margin-left: 10px;  }
.xbox.category .inbox .sidebar.left .block.gray { padding: 10px; background-color: #F1F1F1; margin-bottom: 20px; }
.xbox.category .inbox .sidebar.left .block.gray h1 { margin:0 0 12px 0; font-weight: normal; }
.xbox.category .inbox .sidebar.left p { margin-bottom: 12px; line-height: 16px; } 
.xbox.category .inbox .sidebar.left p:last-child { margin-bottom:0; }
.xbox.category .inbox .content.right { float: right; width: 697px; margin-right: 10px; }
.xbox.category .product.list li { margin: 0 40px 30px 0; }
.xbox.category .product.list li:nth-child(3n+3) { margin-right: 0; }

.content.right .pager { overflow: auto; }
.content.right .pager .amount { float: left;  }
.content.right .pager .limiter { float: right; width: 150px; text-align: right; padding-top: 13px;  }
.content.right .pager .sorter { float: right; text-align: right; width: 250px;  }
.content.right .pager .sorter a { padding: 3px 10px; }
.content.right .pager .pages { float: left; clear: both; width: 50%; position: relative; }
.content.right .pager .pages strong { float: left; padding-top: 3px; }
.content.right .pager .pages ol { list-style-type: none; margin:0; padding:0 0 0 15px; float: left; }
.content.right .pager .pages ol li { padding:0; display: inline-block; }
.content.right .pager .pages ol li.current { background-color: #8BC53F; color: #FFF; padding: 3px 10px; cursor: default; }
.content.right .pager .pages ol li a:hover, .content.right .pager .sorter a { background-color: #8BC53F; color: #FFF; } 
.content.right .pager .pages ol li a { padding: 5px 10px; }

.xbox.product_detail .inbox { overflow: auto; }
.xbox.product_detail .info { float: left; width: 405px; }
.xbox.product_detail .info h1 { font-weight: normal; font-size: 21px; margin: 30px 0 8px 0; }
.xbox.product_detail .info .itemno { color: #989898; font-style: italic; margin-top:0; }
.xbox.product_detail .info .desc { font-family: verdana, arial; font-size: 11px; text-align: justify; text-justify: newspaper; }
.xbox.product_detail .info .desc p { margin-bottom: 25px; line-height: 16px; }
.xbox.product_detail .info .price { font-size: 18px; font-family: 'Conv_HelveticaNeueLTW1G-Lt'; color: #424242; }
.xbox.product_detail .info .show_costs a { color: #989898; font-style: italic; text-decoration: underline; }
.xbox.product_detail .info .show_costs p { display:none; }
.xbox.product_detail .info .add_to_cart {  width: 183px; height: 41px; float: right;  text-align: right; /*color: #CD082A;*/ }
.xbox.product_detail .info .add_to_cart input { border:0; background: url(images/add-to-shopping-cart.png) 0 0 no-repeat; width: 183px; height: 41px; cursor: pointer; }
.xbox.product_detail .info .add_to_cart p { display:none; text-align: center; }
.xbox.product_detail .info .variants { padding: 40px 0 0 10px; font-family: verdana; font-size: 11px; color: #989898; }
.xbox.product_detail .info .variants table { border-spacing:5px 7px; border-collapse: seperate; }
.xbox.product_detail .info .variants table tr th { font-weight: normal; text-transform: uppercase; }
.xbox.product_detail .info .variants table tr th:first-child { text-align: left; }
.xbox.product_detail .info .variants table tr td { text-align: center; width: 38px; padding: 0; border: 2px solid #8BC53F; cursor: default; }
.xbox.product_detail .info .variants table tr td .product-item { text-align: center; width: 35px; border:0; font-family: verdana; font-size: 11px; color: #989898; outline:0; }
.xbox.product_detail .info .variants table tr td:first-child {  color: #000; text-align: left; width: 80px; border-color: #FFF; }
.xbox.product_detail .info .variants table tr td.o {  border-color: #F58B10;  }
.xbox.product_detail .info .variants table tr td.r {  border-color: #CA001C;  }
.xbox.product_detail .info .variants .legend { margin-top: 25px; position: relative; }
.xbox.product_detail .info .variants .legend p { overflow: auto; margin: 0 0 12px 0; }
.xbox.product_detail .info .variants .legend .icons p span { display: block; width: 12px; height: 12px; background-color: #8BC53F;   float: left; margin:2px 5px 0 0; }
.xbox.product_detail .info .variants .legend .icons p:nth-child(2) span { background-color: #F58B10; }
.xbox.product_detail .info .variants .legend .icons p:nth-child(3) span {  background-color: #CA001C; }
.xbox.product_detail .info .variants .legend .icons p:nth-child(4) { font-style: italic; }

.xbox.product_detail .imgs { position: relative; float: right; width: 410px; margin-right: 50px;  text-align: center; }
.xbox.product_detail .imgs .main { max-width: 100%; max-height: 350px; margin: 0 auto; }
.xbox.product_detail .imgs ul { list-style-type: none; margin:0; padding:0 0 5px 0; overflow: auto; }
.xbox.product_detail .imgs ul li  { float: left; /* background-color: #F1F1F1; */ width: 130px; height: 130px; margin-right: 10px; }
.xbox.product_detail .imgs ul li:nth-child(3n+3) { margin-right:0; }

.xbox table.data-table { width: 100%; margin: 15px 0;border-collapse:collapse; font-size: 12px; }
.xbox table.data-table tr th { text-align: center; background-color: #333; color: #9D9D9D; }
.xbox #my-orders-table tr td, .xbox #my-orders-table tr th {  padding: 5px 10px; }
.xbox #my-orders-table tbody tr td { border-bottom: 1px dotted #CBCBCB; }
.xbox #my-orders-table tr td:nth-child(4) { width: 150px; text-align: center; }
.xbox #my-orders-table tr td:last-child { width: 150px; text-align: center; }
.xbox .order-details  #my-orders-table tr td:nth-child(4)   { width: 100px; }
.xbox .order-details  #my-orders-table tr td:last-child  { width: 100px; }
.xbox .my-account { font-size: 14px; line-height: 21px; }
.xbox .my-account a { color: #CD082A; }
.xbox .my-account h3 { font-size: 16px;  }
.xbox .my-account .welcome-msg { margin: 20px 0; }
.xbox .my-account .box-head  { overflow: auto; margin-bottom: 5px; padding: 5px 0; }
.xbox .my-account .box-head  h2 { float: left; margin:0;  }
.xbox .my-account .box-head  a { float: left; margin-left: 10px; font-size: 10px; }
.xbox .my-account .box  { margin: 10px 0; }
.xbox .my-account .box .box-title { background-color: #EDEDED; overflow: auto; margin-bottom: 5px; padding: 5px 10px; }
.xbox .my-account .box .box-title h3, .xbox .my-account .box .box-title h2 { float: left; margin:0; font-size: 16px;  }
.xbox .my-account .box .box-title a { float: left; margin-left: 10px; font-size: 10px; }
.xbox .my-account .box .box-content { padding: 0 10px; }
.xbox .my-account .col2-set { overflow: auto; }
.xbox .my-account .col2-set .col-1 { float: left; width: 50%; }
.xbox .my-account .col2-set .col-2 { float: right; width: 50%; }
.xbox .my-account .order-items.order-details { margin-top: 25px; }

.my-account .fieldset { margin-bottom: 25px; } 
.my-account .fieldset h2.legend { background-color: #EDEDED; overflow: auto; margin-bottom: 5px; padding: 5px 10px; font-size: 16px;  }
.form-list { list-style-type:none; margin: 10px 0; padding:0; }
.form-list li { padding: 5px 0;  }
.form-list li label em { color: #CD082A; margin-right: 5px; }
.form-list li.fields, .form-list li.wide { overflow: auto; position: relative; }
.form-list li.wide { height: 25px; }
.form-list li.wide label { width: 150px; }
.form-list li.wide div { position: absolute; left:0; top:0; margin-left: 150px; width: 500px; padding-top: 5px; }
.form-list li.wide div input { width: 100%; }
.form-list li.fields .field { float: left; width: 50%; }
.form-list li.fields .field  label { float: left; width: 150px; }
.form-list li.fields .field div { float: left; width: 250px; }
.form-list li.fields .field div input { width: 100%; }
.form-list li .validation-advice  { color: #CD082A; }

ul.messages { list-style-type: none; margin:20px 0; padding:0; }
ul.messages li { margin:0; padding:0; }

#page-cart { padding-top: 15px; }
#page-cart fieldset { border: 0; padding:0; margin:0; }
#page-cart table, #page-cart #cartFooter .ctrl { width: 100%; font-size: 12px; font-family: verdana; }
#page-cart table tr.cart-item td { border-top: 1px dotted #CBCBCB; padding: 10px 0; }
#page-cart table tr.cart-item td.tdcenter { text-align: center; }
#page-cart table tr.cart-item:last-child td { border-bottom: 1px dotted #CBCBCB; }
#page-cart td.pImg { width: 125px;  }
#page-cart td.pTitle { width: 332px; padding-left: 20px !important;  }
#page-cart td.pTitle .product-name { font-weight: bold;  margin:0 0 10px 0 !important; }
#page-cart td.pTitle .product-sub { cursor: default; margin: 0 !important;}
#page-cart td.pQty { width: 40px; overflow: hidden; font-weight: bold; padding-right: 44px !important; }
#page-cart td.pQty input { width: 40px; text-align: center;  border: 1px solid #989898; color: #B2B2B2; font-size: 11px; }
#page-cart td.pUpdate, #page-cart td.pDelete { padding-top: 35px !important; width: 45px; padding-right: 30px !important;} 
#page-cart td.pUpdate  a, #page-cart td.pDelete a { background: url("images/imgUpdate.jpg") center top no-repeat; padding-top: 25px;  }
#page-cart td.pDelete a { background-image: url("images/imgDelete.jpg");  }
#page-cart td.pPrice p, #page-cart td.pSubTotal p { font-weight: bold; margin:0 0 10px 0; }
#page-cart #cartFooter { overflow: auto; position: relative; background-color: #F1F1F1; padding: 20px 0; margin-top: 20px; }
#page-cart #cartFooter .ctrl { float: left; width: 300px; overflow: auto; padding: 25px 0 0 15px; }
#page-cart #cartFooter .ctrl a { background: url("images/imgUpdate2.jpg") center top no-repeat; padding: 25px 10px 10px 10px; display:block; width: 100px; float: left; text-align: center; }
#page-cart #cartFooter .ctrl a.empty { background-image: url("images/imgEmpty.jpg");  }
#page-cart #cartFooter .totals, #checkoutSteps .step-list.save .totals { float: right; width: 200px; padding-right: 25px; }
#page-cart #cartFooter .totals table, #checkoutSteps .step-list.save .totals table { width: 100%;  }
#page-cart #cartFooter .totals table tr td, #checkoutSteps .step-list.save .totals table tr td { width: 50%; padding: 5px 0; text-align: left; }
#page-cart #cartFooter .totals table tr td:last-child, #checkoutSteps .step-list.save .totals table tr td:last-child { text-align: right; }
#page-cart .checkout-button { padding: 23px; text-align: right; }
#page-cart .checkout-button input { width: 182px; height: 41px; border: 0; background: url(images/imgCheckout.jpg); cursor: pointer; text-indent: -9999px; }
#page-cart .hidden { display:none; }

#page-checkout { padding-top: 15px;  }
#checkout-raw { display:none; }
#checkoutSteps { overflow: auto; border-top: 1px dotted #CBCBCB;  }
#checkoutSteps div.checkout { padding: 48px 64px; overflow: auto;  font-size: 12px; font-family: verdana;  }
#checkoutSteps div.checkout.top { border-bottom: 1px dotted #CBCBCB; }
#checkoutSteps .step-list { width: 375px;  float: left; }
#checkoutSteps .step-list p { line-height: 18px; }
#checkoutSteps .step-list.shipping { margin-right: 40px; }
#checkoutSteps .step-list.shipping  p.address { font-size: 18px; line-height: 29px; font-family: 'Conv_HelveticaNeueLTW1G-Lt';  }
#checkoutSteps .step-list.shipping  p.address .required  a { color: #CD082A;  }
#checkoutSteps .step-list.shipping-another { border-left: 1px dotted #CBCBCB; padding-left: 40px;  }
#checkoutSteps .step-list.shipping-another form { padding-top: 5px; }
#checkoutSteps .step-list.shipping-another form p { overflow: auto; font-size: 11px; }
#checkoutSteps .step-list.shipping-another form p label { float: left; width: 83px; text-align: right; padding-top: 6px; }
#checkoutSteps .step-list.shipping-another form p span { float: right; width: 282px; display:block; }
#checkoutSteps .step-list.shipping-another form p span input { background-color: #E5E5E5; border: 1px solid #CBCBCB; width: 272px; padding: 4px; }
#checkoutSteps .step-list.shipping-another form p span input.textPostNo { width: 87px; margin-right: 17px; }
#checkoutSteps .step-list.shipping-another form p span input.textCity { width: 135px; }
#checkoutSteps .step-list.shipping-another .status { color: #CD082A; }
#checkoutSteps .step-list.shipping-method p { position: relative; overflow: hidden; background: url(images/formRadio.jpg) 0 0 no-repeat; height: 31px; padding-left: 42px; cursor: pointer; }
#checkoutSteps .step-list.shipping-method p.selected { background-position: 0 -31px; }
#checkoutSteps .step-list.shipping-method p span { display:block; margin-top: 0; }
#checkoutSteps .step-list.shipping-method p input { position: absolute; top:0; left:0; opacity: 0; filter: alpha(opacity=0);   }
#checkoutSteps .step-list.shipping-method p small { display:block; margin-top: -2px; }
#checkoutSteps .step-list.shipping-method p small.rate { display:none; }
#checkoutSteps .step-list.save { float: right; text-align: right; width: 300px; }
#checkoutSteps .step-list.save .totals { padding:0; margin-bottom: 20px; width: 200px;  }
#checkoutSteps .step-list.save input { width: 182px; height: 41px; border:0; background: url(images/imgCheckoutSubmit.jpg); cursor: pointer; }
#checkoutSteps .step-list.save p.iproceed { overflow: auto; clear: both; }
#checkoutSteps .step-list.save p.iproceed .status { color: #B2B2B2; font-size: 11px;  }

#checkoutSteps  .step-list .button, #checkoutSteps .back-link { display:none; } 

.xbox.fooline .inbox { background: url(images/line.png) center bottom repeat-x; padding-bottom: 30px; }

.xbox.footer { background-color: #333;  margin-top: 30px;  }
.xbox.footer .inbox { width: 830px; background-color: #333; position: relative; }
.xbox.footer .logo { margin-top: 20px; }
.xbox.footer ul.menu { text-align: right; font-size: 11px; position: absolute; top:0; right:0; margin: 23px 0 0 0; }
.xbox.footer ul.menu li { float: right; margin-left: 20px; }
.xbox.footer a { color: #FFF; }
.xbox.footer p { color: #A0A0A0;font-size: 11px; text-align: center; }

/* Colorbox */
#colorbox,#cboxOverlay,#cboxWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden}#cboxOverlay{position:fixed;width:100%;height:100%;background:url(images/colorbox/overlay.png) repeat 0 0}#cboxMiddleLeft,#cboxBottomLeft{clear:left}#cboxContent{position:relative;background:#fff;overflow:hidden}#cboxLoadedContent{overflow:auto;-webkit-overflow-scrolling:touch;margin-bottom:28px}#cboxTitle{position:absolute;bottom:4px;left:0;text-align:center;width:100%;color:#949494;margin:0}#cboxLoadingOverlay,#cboxLoadingGraphic{position:absolute;top:0;left:0;width:100%;height:100%}#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow{cursor:pointer}.cboxPhoto{float:left;border:0;display:block;max-width:none;-ms-interpolation-mode:bicubic;margin:auto}.cboxIframe{width:100%;height:100%;display:block;border:0;background:#fff}#colorbox,#cboxContent,#cboxLoadedContent{box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box}#cboxTopLeft{width:21px;height:21px;background:url(images/colorbox/controls.png) no-repeat -101px 0}#cboxTopRight{width:21px;height:21px;background:url(images/colorbox/controls.png) no-repeat -130px 0}#cboxBottomLeft{width:21px;height:21px;background:url(images/colorbox/controls.png) no-repeat -101px -29px}#cboxBottomRight{width:21px;height:21px;background:url(images/colorbox/controls.png) no-repeat -130px -29px}#cboxMiddleLeft{width:21px;background:url(images/colorbox/controls.png) left top repeat-y}#cboxMiddleRight{width:21px;background:url(images/colorbox/controls.png) right top repeat-y}#cboxTopCenter{height:21px;background:url(images/colorbox/border.png) 0 0 repeat-x}#cboxBottomCenter{height:21px;background:url(images/colorbox/border.png) 0 -29px repeat-x}#cboxError{border:1px solid #ccc;padding:50px}#cboxCurrent{position:absolute;bottom:4px;left:58px;color:#949494}#cboxLoadingOverlay{background:url(images/colorbox/loading_background.png) no-repeat center center}#cboxLoadingGraphic{background:url(images/colorbox/loading.gif) no-repeat center center}#cboxPrevious,#cboxNext,#cboxSlideshow,#cboxClose{border:0;overflow:visible;width:auto;background:none;margin:0;padding:0}#cboxSlideshow{position:absolute;bottom:4px;right:30px;color:#0092ef}#cboxPrevious{position:absolute;bottom:0;left:0;background:url(images/colorbox/controls.png) no-repeat -75px 0;width:25px;height:25px;text-indent:-9999px}#cboxPrevious:hover{background-position:-75px -25px}#cboxNext{position:absolute;bottom:0;left:27px;background:url(images/colorbox/controls.png) no-repeat -50px 0;width:25px;height:25px;text-indent:-9999px}#cboxNext:hover{background-position:-50px -25px}#cboxClose{position:absolute;bottom:0;right:0;background:url(images/colorbox/controls.png) no-repeat -25px 0;width:25px;height:25px;text-indent:-9999px}#cboxClose:hover{background-position:-25px -25px}.cboxIE #cboxTopLeft,.cboxIE #cboxTopCenter,.cboxIE #cboxTopRight,.cboxIE #cboxBottomLeft,.cboxIE #cboxBottomCenter,.cboxIE #cboxBottomRight,.cboxIE #cboxMiddleLeft,.cboxIE #cboxMiddleRight{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)}#colorbox,#cboxPrevious:active,#cboxNext:active,#cboxSlideshow:active,#cboxClose:active{outline:0}