<?php echo $this->getChildHtml('head'); ?>		
<?php echo $this->getChildHtml('header'); ?>		
<!-- 2 Columns Left layout -->

	<div class="xbox main">
		<div class="inbox">			
			<?php echo $this->getChildHtml('content') ?>

		</div>
	</div>

<?php echo $this->getChildHtml('footer'); ?>
<?php echo $this->getAbsoluteFooter(); ?>