<?php echo $this->getChildHtml('head'); ?>		
<?php echo $this->getChildHtml('header'); ?>	
<!-- 2 Columns Right layout -->

	<div class="xbox nav">
		<div class="inbox">
			<?php $o = $this->getLayout()->getBlock("breadcrumbs")->toHtml(); echo $o; //var_dump($o->_crumbs); ?>
			<a href="#back" onclick="window.history.back(); return false;" class="back">&lt; Tilbage</a>
		</div>
	</div>
	
	<?php echo $this->getChildHtml('content') ?>

<?php echo $this->getChildHtml('footer'); ?>
<?php echo $this->getAbsoluteFooter(); ?>