<?php

	$collection = Mage::getModel('catalog/product')->getCollection();
	$collection->addAttributeToSelect('*');	
	$collection->addFieldToFilter(array(
		array('attribute'=>'featured','eq'=>1),
	));
    
	$i=0; $show = 4; $desclen = 45; //var_dump($products->_data);
	foreach ($collection as $product) {
		if ($i < $show){			
			$title = $product->getName(); 
			$img = $this->helper('catalog/image')->init($product, 'image')->resize(200,193);
			$desc = $product->getShortDescription(); if (strlen($desc)>$desclen) $desc = substr($desc,0,$desclen)."...";
			$url = $product->getProductUrl();
			$list .= '<li><a href="'.$url.'"><img src="'.$img.'" /><p class="title">'.$title.'</p><p class="desc">'.$desc.'</p><p class="more">Mere information om produktet ></p></a></li>';	
		}
		$i++;
	}
	
?>
	
	<?php if($list) : ?>
	<div class="xbox featured_products <?php if ($inner) echo "inner"; ?>">
		<div class="inbox">	
			<h2>Udvalgte Produkter</h2>
			<ul class="product list">
				<?php echo $list; ?>
			</ul>
		</div>
	</div>
	<?php endif;?>
 