<?php echo $this->getChildHtml('head'); ?>		
<?php echo $this->getChildHtml('header'); ?>		
	
	<div class="xbox home_banner">
		<div class="inbox">	
            <?php $banner = $this->getLayout()->createBlock('cms/block')->setBlockId('frontpage_banner')->toHtml(); echo strip_tags($banner,"<img>,<a>"); echo "\n"; ?>
		</div>
	</div>	

	<?php $inner=0; include("featured.phtml"); ?>

	<div class="xbox main">
		<div class="inbox frontpage">		
			<?php echo $this->getChildHtml('content'); ?>
		</div>
	</div>

<?php echo $this->getChildHtml('footer'); ?>
<?php echo $this->getAbsoluteFooter(); ?>