
	<div class="xbox nav">
		<div class="inbox">
			<?php $o = $this->getLayout()->getBlock("breadcrumbs")->toHtml(); echo $o; //var_dump($o->_crumbs); ?>
			<a href="#back" onclick="window.history.back(); return false;" class="back">&lt; Tilbage</a>
		</div>
	</div>	

	<div class="cart" id="page-cart">
		<div class="page-title title-buttons">
			<h1><?php echo $this->__('Indk&oslash;bskurv') ?></h1>	       
		</div>		
		
		<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
		
		<?php echo $this->getChildHtml('form_before') ?>
		<form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
		<fieldset>
			<table id="shopping-cart-table" class="data-table cart-table">			
			<?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>		
			<tbody>
			<?php foreach($this->getItems() as $_item): ?>
			    <?php echo $this->getItemHtml($_item) ?>
			<?php endforeach ?>
			</tbody>
			</table>
			<p class="hidden">
				<button type="submit" name="update_cart_action" value="update_qty" title="<?php echo $this->__('Update Shopping Cart'); ?>" class="button btn-update" id="update_cart_button"><span><span><?php echo $this->__('Update Shopping Cart'); ?></span></span></button>
				<button type="submit" name="update_cart_action" value="empty_cart" title="<?php echo $this->__('Clear Shopping Cart'); ?>" class="button btn-empty" id="empty_cart_button"><span><span><?php echo $this->__('Clear Shopping Cart'); ?></span></span></button>
			</p>					
			<script type="text/javascript">decorateTable('shopping-cart-table')</script>
		</fieldset>
		</form>
	    
		<div id="cartFooter">     
			<div class="ctrl">
				<a href="#update" onclick="clickButton('update_cart_button'); return false;"><?php echo $this->__('Opdater Kurv')?></a>
				<a href="#empty" onclick="clickButton('empty_cart_button'); return false;" class="empty"><?php echo $this->__('T&oslash;m Kurv')?></a>
			</div>
			<div class="totals">
				<?php echo $this->getChildHtml('totals'); ?>         								
			</div>
		</div>
		
		 <?php if(!$this->hasError()): ?>
		<div class="checkout-button"><input type="button" title="G&aring; til Bestillling" value="G&aring; til Bestillling"  onclick="window.location='<?php echo Mage::getBaseUrl(); ?>checkout/onepage/';" /></div>		
		<?php endif; ?>
		
	</div>
	
	<?php $data['inner'] = 1; Mage::helper('function')->featuredProduct($data); ?>


<script>
	function clickButton(a){ //alert(a);
		document.getElementById(a).click();
	}
</script>

<!--[if lt IE 8]>
    <input type="hidden" id="update_cart_action_container" />
    <script type="text/javascript">
    //<![CDATA[
	Event.observe(window, 'load', function()
	{
	    // Internet Explorer (lt 8) does not support value attribute in button elements
	    $emptyCartButton = $('empty_cart_button');
	    $cartActionContainer = $('update_cart_action_container');
	    if ($emptyCartButton && $cartActionContainer) {
		Event.observe($emptyCartButton, 'click', function()
		{
		    $emptyCartButton.setAttribute('name', 'update_cart_action_temp');
		    $cartActionContainer.setAttribute('name', 'update_cart_action');
		    $cartActionContainer.setValue('empty_cart');
		});
	    }

	});
    //]]>
    </script>
<![endif]-->		
