<?php

$cDefShipping = Mage::getSingleton('customer/session')->getCustomer()->getDefaultShipping();
$cDefBilling = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling();

$address = Mage::getModel('customer/address')->load($cDefShipping)->getData(); //var_dump($address);
$name = $address['firstname']." ".$address['lastname'];
$street = $address['street'];
$company = $address['company'];
$city = $address['city'];
$zipcode = $address['postcode'];
$country = $address['country_id'];

$taxRate = 25; //25%
$cc = " DKR";
$totalItemsInCart = Mage::helper('checkout/cart')->getItemsCount(); //total items in cart
$totals = Mage::getSingleton('checkout/session')->getQuote()->getTotals(); //Total object
$subtotal = number_format($totals["subtotal"]->getValue(), 2, ',', '.').$cc;
$grandtotal = number_format($totals["grand_total"]->getValue(), 2, ',', '.').$cc;
if ( isset($totals['tax']) && $totals['tax']->getValue()) {   $tax =  number_format($totals["tax"]->getValue(), 2, ',', '.').$cc; }
else { $tax = '<i>Please set<br/>tax rate.</i>'; }

$storeID = Mage::app()->getStore()->getId();
$carriers = Mage::getStoreConfig('carriers', $storeID);
foreach ($carriers as $carrierCode => $carrierConfig) {
	if ($carrierConfig['active'] && $carrierConfig['name']) {
		$carrierRate[$carrierConfig['name']] =  $carrierConfig['price']; //var_dump($carrierConfig);
	}
}
//var_dump($carrierRate);

$activeCarriers = Mage::getSingleton('shipping/config')->getActiveCarriers();  
foreach($activeCarriers as $carrierCode => $carrierModel){
	$options = array();  $carrierVal="";  $carrierTitle=""; 
	if( $carrierMethods = $carrierModel->getAllowedMethods() ){ //var_dump($carrierMethods);
	       foreach ($carrierMethods as $methodCode => $method){
			$code= $carrierCode.'_'.$methodCode;
	       } 
	       
	       $carrierVal = $method;
	       $carrierTitle = Mage::getStoreConfig('carriers/'.$carrierCode.'/title');
	}		
	if ($carrierVal) {
		$sub = ""; $sel = ""; $class=""; $rate = floatval($carrierRate[$carrierVal]); 
		if ($carrierVal=="Fixed") { $sub = "Pris for levering er 55,00 DKR eksl, moms"; $sel = "checked"; $class=" class='selected'"; $shippingRate = number_format($rate, 2, ',', '.').$cc; }
		if ($carrierVal=="Pickup") $sub = "Vangard Retails A/S - Navervej 12 - DK-7451 Sunds";
		$shipmethodlist .= "<p$class><input type='checkbox' name='shippingmethod' value='$carrierVal' $sel class='".strtolower($carrierVal)."' /> <span><strong>$carrierTitle</strong><small>$sub</small><small class='rate'>$rate</small></span></p>";
	}
}


?>
	<div class="xbox main" id="page-checkout">
		<div class="inbox">			
			<div class="page-title"><h1><?php echo $this->__('Bestilling') ?></h1></div>
			
			<div id="checkoutSteps">
				<div class="checkout top">
					<div class="step-list shipping">		
						<h2>Fakturering &amp; Levering</h2>
						<p>Denne adresse er tilknyttet til din brugerkonto og vil blive 
						brugt med mindre andet anf&oslash;res i skemaet til h&oslash;jre</p>
												
						<p class="address">
							<?php if (!$cDefShipping || !$cDefBilling) : ?> 
							<span class="required">
								<strong><a href="<?php echo Mage::getBaseUrl() ?>customer/account">Click here to set default addresses:</a></strong><br/>
								<?php if (!$cDefBilling) : ?>- Billing Address<br/><?php endif; ?>
								<?php if (!$cDefShipping) : ?>- Shipping Address<?php endif; ?>
							</span>
							<?php else :  ?>
							<strong><?php echo $company ?></strong><br/>
							<?php echo $name ?><br/>
							<?php echo $street ?><br/>
							<?php echo $country."-".$zipcode ?> <?php echo $city ?>
							<?php endif; ?>
						</p>
					</div>	
					
					<div class="step-list shipping-another">
						<h2>Anden leverings adresse</h2>
						<p>Udfyld feltet herunder, hvis du &oslash;nsker levering p&aring; en anden
						adresse. Fakturerings adressen &aelig;ndres ikke.</p>
						
						<form class="altAddress">
							<p><label>Firmanavn</label><span><input type="text" class="textCompany" /></span></p>
							<p><label>Kontaktperson</label><span><input type="text" class="textName" /></span></p>
							<p><label>Adresse</label><span><input type="text"  class="textStreet" /></span></p>
							<p><label>Postnummer</label><span><input type="text" class="textPostNo" /> By <input type="text" class="textCity" /></span></p>
							<p class="status"></p>
						</form>
						 
					</div>
				</div>		
				
				<div class="checkout bottom">
					<div class="step-list shipping-method">
						<div class="shipping-method-list">
							<?php echo $shipmethodlist; ?>
						</div>
					</div>
					
					<div class="step-list save">
						<div class="totals">
							<table>							
								<tr><td><strong>Total</strong></td><td><?php echo $subtotal ?></td></tr>									
								<tr class="trshipping"><td><strong>Shipping</strong></td><td class="val"><?php echo $shippingRate ?></td></tr>
								<tr class="trtax"><td><strong>Moms (<?php echo $taxRate ?>%)</strong></td><td class="val"><?php echo $tax ?></td></tr>												
								<tr class="trgt"><td><strong>I Alt</strong></td><td class="val"><strong><?php echo $grandtotal ?></strong></td></tr>
							</table>
						</div>
						<?php if ($cDefShipping && $cDefBilling) : ?> <p class="iproceed"><input type="button" id="dummyProceed" /></p><?php endif; ?>
					</div>
				</div>				
			</div>			
		</div>						
	</div>
	
	<div id="checkout-raw">
		<script type="text/javascript" src="<?php echo $this->getJsUrl('varien/accordion.js') ?>"></script>
		<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>
		<ol class="opc" id="checkoutSteps">
		<?php $i=0; foreach($this->getSteps() as $_stepId => $_stepInfo): ?>
		<?php if (!$this->getChild($_stepId) || !$this->getChild($_stepId)->isShow()): continue; endif; $i++ ?>
		    <li id="opc-<?php echo $_stepId ?>" class="section<?php echo !empty($_stepInfo['allow'])?' allow':'' ?><?php echo !empty($_stepInfo['complete'])?' saved':'' ?>">
			<div class="step-title"><a href="#"><?php echo $this->__('Edit') ?></a></div>
			<div id="checkout-step-<?php echo $_stepId ?>" class="step a-item">
			    <?php echo $this->getChildHtml($_stepId) ?>
			</div>
		    </li>
		<?php endforeach ?>
		</ol>
		<script type="text/javascript">
			var accordion = new Accordion('checkoutSteps', '.step-title', true);
			<?php if($this->getActiveStep()): ?>
			accordion.openSection('opc-<?php echo $this->getActiveStep() ?>');
			<?php endif ?>
			var checkout = new Checkout(accordion,{
				progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
				review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
				saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
				failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
			);				 
		</script>
	</div> 
	
	
	<script type="text/javascript">
		function hasAltAdd(){
			var filled = 0; var totalFields = jQuery(".altAddress input:text").length;
			var txt = new Array();
			jQuery(".altAddress input:text").each(function(i) {
				var label = jQuery(this).attr("class");
				var val = jQuery(this).val(); //alert(label+" "+val);
				if (jQuery.trim(val)) {
					txt[label] = val;
					filled++;
				}
			});
			
			if (filled && filled < totalFields) {
				jQuery(".altAddress .status").show().text("Venligst udfyld alle felter!");
				return 0;
			} else if (filled) {
				jQuery(".altAddress .status").hide();
				shipping.setSameAsBilling(false);				
				jQuery("#shipping-address-select option:last").prop('selected', true);				
				jQuery("#shipping-new-address-form").show();
				var rawname = txt['textName'].split(" ");
				rawname = rawname.filter(function(n){return n});
				var name = rawname;
				var lName = name.pop();  
				var fName = name.join(" ");	 
				//alert(txt['textName']+" ==== "+rawname.length);
				if (rawname.length<=0) {
					lName = "null";
					fName = txt['textName'];
				}	
				jQuery("input[name='shipping[firstname]']").val(fName);
				jQuery("input[name='shipping[lastname]']").val(lName);
				jQuery("input[name='shipping[company]']").val(txt['textCompany']);
				jQuery("input[name='shipping[street][]']:eq(0)").val(txt['textStreet']);
				jQuery("input[name='shipping[city]']").val(txt['textCity']);
				jQuery("input[name='shipping[postcode]']").val(txt['textPostNo']);
				jQuery("input[name='shipping[city]']").val(txt['textCity']);
				return 1;
			} else {
				jQuery(".altAddress .status").hide();
				return 1;
			}			
		}
		
		function clickSteps(n){
			jQuery(".step-list.save .iproceed span.n").text(n);
			if (n==1) {
				jQuery("input[name='billing[use_for_shipping]']:eq(1)").click(); //return;
				billing.save();
			}
			else if (n==2) shipping.save();
			else if (n==3) { 
				var val = jQuery(".shipping-method-list p.selected input").val(); //alert(val);
				if (val=="Pickup") jQuery("#s_method_freeshipping_freeshipping").click();
				else jQuery("#s_method_flatrate_flatrate").click();
				//setTimeout(function(){  shippingMethod.save(); },1500);				
				shippingMethod.save();
			} 
			else if (n==4) { jQuery("#p_method_checkmo").click(); payment.save(); }
			else if (n==5) review.save();
			var chkStatus = setInterval(function(){ 			
				//var next = jQuery("ol.opc li.section:nth-child("+n+") .step").is(":hidden");
				var next = jQuery("ol.opc li.section:nth-child("+n+") .step").css('display');
				if (next=='none') { next = 1; } else { next = 0; }
				if (next){ //alert(n+" id done!");					
					clearInterval(chkStatus);
					if ((n+1) < 6) clickSteps(n+1);
					//else alert("All Done!");
				}
			},1000);
		}
		
		function formatMe(n){
			var cc = "<?php echo $cc; ?>"; 
			b = n+""; //alert("format: "+cc+" / "+n);
			b = b.replace(".","dot");
			b = b.replace(",","comma");
			b = b.replace("dot",",");
			b = b.replace("comma",".");  
			var hasDecimal = b.indexOf(","); 
			if (hasDecimal <=0) b = b+",00";
			b = b+cc;
			return b;
		}
		
		function reviewSetTotal(){ //alert("total!");						
			var subtotal = parseFloat("<?php echo $totals["subtotal"]->getValue(); ?>");
			var tax = parseFloat("<?php if ( isset($totals['tax']) && $totals['tax']->getValue())  { echo $totals["tax"]->getValue(); } else {  echo "0";  } ?>");			
			var taxShipping = <?php echo (int)$taxRate/100; ?>;
			var tax = subtotal*taxShipping;
			var shippingTax = 0;
			var shipping = jQuery(".shipping-method-list p.selected .rate").text(); 					
			shipping = parseFloat(shipping); //alert("shipping float: "+shipping);					
			if (shipping>0){ jQuery(".step-list.save .totals .trshipping").show(); shippingTax = shipping * taxShipping; tax = tax+shippingTax; } 
			else { jQuery(".step-list.save .totals .trshipping").hide(); }
			var grandtotal = subtotal+tax+shipping;   //alert("sub:"+subtotal+" / shipping: "+shipping+" / tax: "+tax);
			grandtotal = formatMe(grandtotal); //alert("after"+grandtotal);
			jQuery(".step-list.save .totals .trtax .val").text(formatMe(tax));			
			jQuery(".step-list.save .totals .trgt .val strong").text(grandtotal);			
		}
			
		jQuery(window).load(function() {
			jQuery(".shipping-method-list p").click(function(){
				jQuery(".shipping-method-list p").removeClass("selected");
				jQuery(this).addClass("selected");
				jQuery(this).find("input").prop('checked', true);		
				var val = jQuery(this).find("input").val(); //alert(val);
				if (val=="Pickup") jQuery("#s_method_freeshipping_freeshipping").click();
				else jQuery("#s_method_flatrate_flatrate").click();
				reviewSetTotal();
			});
						 
			jQuery("#dummyProceed").click(function(){				
				var altAdd = hasAltAdd();
				if (altAdd){ //proceed checkout
					jQuery(this).hide();					
					jQuery(this).parent().append('<span class="status">Behandler ordre (<span class="n">1</span>/5), vent venligst...</span>');					
					clickSteps(1);
				}
			});

			reviewSetTotal();
			
		});
	</script>
	