<div class="entity-edit" id="manage-options-panel">	
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Manage Fixed Price') ?></h4>
    </div>
    <div>
		<ul class="messages">
			<li class="notice-msg" style="margin-top:11px;">
				<ul>
					<li><?php echo $this->__('Admin has to take care about the quantity range while adding the price as there is no any restriction for repeat quantity range while adding the quantity range in global module.');?></li>									
				</ul>
			</li>
		</ul>
	</div>
	<?php 	
	$quantityRangecollection = Mage::getModel('qrange/qrange')->getCollection();
	$quantityRangecollection->getSelect()->columns(new Zend_Db_Expr("Concat(quantity_range_from,' - ',quantity_range_to) as quantity_range"));	
	?>
    <div class="box">
        <div class="hor-scroll">
            <table class="form-list dynamic-grid" cellspacing="0" cellpadding="0" width="100%">
                <tr id="fixed_grid_head">                   
                    <th class="w-150"><?php echo $this->__('Quantity Count') ?></th>
                    <th class="w-150"><?php echo $this->__('Side1 Price') ?></th>
                    <th class="w-150"><?php echo $this->__('Side2 Price') ?></th>
                    <th class="w-150"><?php echo $this->__('Side3 Price') ?></th>
                    <th class="w-150"><?php echo $this->__('Side4 Price') ?></th>
                    <!--<th class="w-150"><?php //echo $this->__('Position') ?></th> -->
					<th class="message w-150"></th> 					
                    <th class="w-150">
                        <button id="add_new_fixed_button" class="scalable add" style="" onclick="" type="button">
                            <span><?php echo $this->__('Add Fixed Price') ?></span>
                        </button>
                    </th>
                </tr>
                <tr id="attribute-options-table">
                </tr>
                <tr class="no-display template" id="qc-row-template">				
                    <td class="a-center">
					<select id="quantitySelect">
					<?php foreach ($quantityRangecollection as $quantityRange): ?>
						<option value="<?php echo $quantityRange->getQrangeId(); ?>"><?php echo $quantityRange->getQuantityRange(); ?></option>
					<?php endforeach; ?>
					</select>
					</td>					
					<!--<td class="a-center"><input class="color required-entry input-text" type="text" name="qcPrice[color_code][{{id}}]" value="{{code}}"/></td>-->
					<td><input class="input-text" type="hidden" name="qcPrice[{{id}}][printing_method_id]" value="<?php echo $this->getPritingMethodId(); ?>"/></td>
					<td class="a-center"><input class="required-entry input-text" type="text" name="qcPrice[{{id}}][code]" value="{{code}}"/></td>
                    <td class="a-left">
                        <input type="hidden" class="delete-flag" name="qcPriceAction[delete][{{id}}]" value=""/>
                        <input type="hidden" class="update-flag" name="qcPriceAction[update][{{id}}]" value="{{update}}"/>
                        <button class="scalable delete delete-option" title="Delete" type="button"><span><?php echo $this->__("Delete")?></span></button>
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" id="option-count-check" value=""/>
    </div>
</div>

<script type="text/javascript">

    //<![CDATA[	
	
	
    var fixedOptionDefaultInputType = 'text';
    //template for dynamic row
   
	 var fixedTemplateText =
            '<tr class="option-row" id="fixedRow_{{id}}">' +
					'<td><select class="dynamic-pricing-select" id="quantityFixedSelect_{{id}}" name="fixedPrice[qty][{{id}}]">'+
					<?php foreach ($quantityRangecollection as $quantityRange): ?>
						' <option value="<?php echo $quantityRange->getQrangeId(); ?>"><?php echo $quantityRange->getQuantityRange(); ?></option>'+
					<?php endforeach; ?>
					'<\/select><\/td>'+					
					//'<td><input class="required-entry input-text" type="text" name="fixedPrice[color_name][{{id}}]" value="{{color_name}}"/><\/td>'+
					//'<td><input class="required-entry input-text" type="text" name="fixedPrice[area][{{id}}]" value="{{area}}"/><\/td>'+
					'<td><input class="input-text validate-zero-or-greater" type="text" name="fixedPrice[first_side_price][{{id}}]" value="{{first_side_price}}"/><\/td>' +
					'<td><input class="input-text validate-zero-or-greater" type="text" name="fixedPrice[second_side_price][{{id}}]" value="{{second_side_price}}"/><\/td>' +
					'<td><input class="input-text validate-zero-or-greater" type="text" name="fixedPrice[third_side_price][{{id}}]" value="{{third_side_price}}"/><\/td>' +
					'<td><input class="input-text validate-zero-or-greater" type="text" name="fixedPrice[fourth_side_price][{{id}}]" value="{{fourth_side_price}}"/><\/td>' +
					//'<td><input class="input-text" type="text" name="fixedPrice[sort_order][{{id}}]" value="{{sort_order}}"/><\/td>' +					
					// '<td><input class="input-text" type="hidden" name="fixedPrice[{{id}}][printing_method_id]" value="<?php echo $this->getPritingMethodId(); ?>"/></td>'+
					'<td><input class="input-text" type="hidden" id="message_{{id}}" value="<?php echo $this->getPritingMethodId(); ?>"/></td>'+
                    '<td class="a-left">' +
                    '<input type="hidden" class="delete-flag" name="fixedPrice[delete][{{id}}]" value="" />' +
                    '<input type="hidden" class="update-flag" name="fixedPrice[update][{{id}}]" value="{{update}}"/>' +
                    '<button class="scalable delete delete-option" title="Delete" type="button"><span><?php echo $this->__("Delete")?></span></button>' +
                    '<\/td>' +
                    '<\/tr>';
    var fixedattributeOption = {
        table : $('fixed_grid_head'),
        fixedTemplateSyntax : /(^|.|\r|\n)({{(\w+)}})/,
        fixedTemplateText : fixedTemplateText,
        fixedItemCount : 1,
        totalItems : 0,
        //add dynamic row function
        add : function(data) {
            this.fixedTemplate = new Template(this.fixedTemplateText, this.fixedTemplateSyntax);			
            if (!data.id) {
                data = {};
                data.id  = 'fixed_'+this.fixedItemCount;
            }
            if (!data.intype)
                data.intype = fixedOptionDefaultInputType;		
			
            Element.insert(this.table, {after: this.fixedTemplate.evaluate(data)});
            this.bindRemoveButtons();
            this.fixedItemCount++;
            this.totalItems++;
            this.updateFixedItemsCountField();
			// new jscolor.init();
			//set selected type
			if (data.intype) {
				$A($('quantityFixedSelect_'+data.id).options).each(function(option){
					if (option.value==data.qty_range_id) option.selected = true;
				});				
			}
        },
        //remove dynamic row function
        remove : function(event) {
            if (confirm('<?php echo $this->__("Do you really delete this price?");?>')) {
                var element = $(Event.findElement(event, 'tr'));
                element.ancestors().each(function(parentItem) {
                    if (parentItem.hasClassName('option-row')) {
                        element = parentItem;
                        throw $break;
                    } else if (parentItem.hasClassName('box')) {
                        throw $break;
                    }
                });

                if (element) {
                    var elementFlags = element.getElementsByClassName('delete-flag');
                    if (elementFlags[0]) {
                        elementFlags[0].value = 1;
                    }

                    element.addClassName('no-display');
                    element.addClassName('template');
                    element.hide();
                    this.totalItems--;
                    this.updateFixedItemsCountField();
                }
            }
        },
        updateFixedItemsCountField: function() {
            if (this.totalItems > 0) {
                $('option-count-check').value = '1';
            } else {
                $('option-count-check').value = '';
            }
        },
        bindRemoveButtons : function() {
            var buttons = $$('.delete-option');
            for (var i = 0; i < buttons.length; i++) {
                if (!$(buttons[i]).binded) {
                    $(buttons[i]).binded = true;
                    Event.observe(buttons[i], 'click', this.remove.bind(this));
                }
            }
        }

    }
    if ($('fixed-row-template')) {
        $('fixed-row-template').remove();
    }
    fixedattributeOption.bindRemoveButtons();

    if ($('add_new_fixed_button')) {
        Event.observe('add_new_fixed_button', 'click', fixedattributeOption.add.bind(fixedattributeOption));
    }
    Validation.addAllThese([
        ['required-option', '<?php echo $this->__('Failed') ?>', function(v) {
            return !Validation.get('IsEmpty').test(v);
        }]
    ]);
    Validation.addAllThese([
         ['validate-zero-or-greater', 'Please enter a number 0 or greater in this field.', function(v) {
                if(v.length)
                    return parseFloat(v) >= 0;
                else
                    return true;
            }]
    ]);		
		// var qcArrayData = [
  // {"id":"3","qty_id":"11","no_of_color":"15","side1":"1","side2":"2","side3":"3","side4":"4"}, 
  // {"id":"4","qty_id":"12","no_of_color":"17","side1":"5","side2":"6","side3":"7","side4":"8"}, 
  // {"id":"5","qty_id":"13","no_of_color":"16","side1":"9","side2":"10","side3":"11","side4":"12"}
// ];
// var qcArrayData = [];
	// qcArrayData.forEach(function(qcArray) {
		// qcattributeOption.add(qcArray);
	// });
	<?php if ($options = $this->getFixedPriceValues()): ?>
        <?php foreach ($options as $_value): ?>		
        fixedattributeOption.add(<?php echo $_value->toJson() ?>);
    <?php endforeach; ?>
	<?php endif; ?>
    //]]>
</script>