<div class="entity-edit" id="manage-options-panel">	
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Manage Colors') ?></h4>
    </div>
	<?php 
	// echo "<pre>";
	// $printableColorData = Mage::getModel('printingmethod/printablecolorstitle')->getCollection();
	// print_r($printableColorData->getData());
	// print_r($this->getPrintableColorsValues());
	?>
    <div class="box">
        <div class="hor-scroll">
            <table class="dynamic-grid" cellspacing="0" cellpadding="0" width="100%">
                <tr id="grid_head">                   
                    <!--<th class="w-150"><?php echo $this->__('Color Name') ?></th>-->
					<?php foreach ($this->getStores() as $_store): ?>
                        <th><?php echo $_store->getName() ?></th>
                    <?php endforeach; ?>
                    <th class="w-150"><?php echo $this->__('Color Code') ?></th>
                    <th class="w-150"><?php echo $this->__('Position') ?></th> 
					<th class="w-150"></th> 					
                    <th class="w-150">
                        <button id="add_new_option_button" class="scalable add" style="" onclick="" type="button">
                            <span><?php echo $this->__('Add Color') ?></span>
                        </button>
                    </th>
                </tr>
                <tr id="attribute-options-table">
                </tr>
                <tr class="no-display template" id="row-template">
					<?php foreach ($this->getStores() as $_store): ?>
                        <td><input name="color[value][{{id}}][<?php echo $_store->getId() ?>]" value="{{store<?php echo $_store->getId() ?>}}" class="input-text<?php if($_store->getId()==0): ?> required-option<?php endif; ?>" type="text" <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/></td>
						<!--<td class="a-center"><input class="required-entry input-text" type="text" name="color[{{id}}][color_name]" value="{{name}}"/></td>-->
                        <?php endforeach; ?>                    
					<td class="a-center"><input class="color required-entry input-text" type="text" name="color[color_code][{{id}}]" value="{{code}}"/></td>
					<td><input class="input-text" type="hidden" name="color[{{id}}][printing_method_id]" value="<?php echo $this->getPritingMethodId(); ?>"/></td>
					<td class="a-center"><input class="required-entry input-text" type="text" name="color[{{id}}][code]" value="{{code}}"/></td>
                    <td class="a-left">
                        <input type="hidden" class="delete-flag" name="colorAction[delete][{{id}}]" value=""/>
                        <input type="hidden" class="update-flag" name="colorAction[update][{{id}}]" value="{{update}}"/>
                        <button class="scalable delete delete-option" title="Delete" type="button"><span><?php echo $this->__("Delete")?></span></button>
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" id="option-count-check" value=""/>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    var optionDefaultInputType = 'text';
    //template for dynamic row
    // var templateText =
            // '<tr class="option-row">' +
                    // '<td><input name="background[{{id}}][background_image]" value="{{background_image}}" class="input-text required-option full" type="file"/><\/td>' +
                    // <!--'<td><input class="input-text" type="text" name="background[{{id}}][sort_order]" value="{{sort_order}}"/><\/td>' +-->
                    // '<td class="a-left">' +
                    // '<input type="hidden" class="delete-flag" name="background[{{id}}][delete]" value="" />' +
                    // '<input type="hidden" class="update-flag" name="background[{{id}}][update]" value="{{update}}"/>' +
                    // '<button class="scalable delete delete-option" type="button"><span><?php $this->__("Delete")?></span></button>' +
                    // '<\/td>' +
                    // '<\/tr>';
	 var templateText =
            '<tr class="option-row">' +
					<?php foreach ($this->getStores() as $_store): ?>
						'<td><input name="color[value][{{id}}][<?php echo $_store->getId() ?>]" value="{{store<?php echo $_store->getId() ?>}}" class="input-text<?php if($_store->getId()==0): ?> required-option<?php endif; ?>" type="text" <?php if ($this->getReadOnly()):?> disabled="disabled"<?php endif;?>/><\/td>'+
					<?php endforeach; ?>
					//'<td><input class="required-entry input-text" type="text" name="color[{{id}}][color_name]" value="{{color_name}}"/><\/td>'+
					'<td><input class="color required-entry input-text" type="text" name="color[color_code][{{id}}]" value="{{color_code}}"/><\/td>'+
					'<td><input class="input-text" type="text" name="color[sort_order][{{id}}]" value="{{sort_order}}"/><\/td>' +
					
					'<td><input class="input-text" type="hidden" name="color[{{id}}][printing_method_id]" value="<?php echo $this->getPritingMethodId(); ?>"/></td>'+
                    '<td class="a-left">' +
                    '<input type="hidden" class="delete-flag" name="colorAction[delete][{{id}}]" value="" />' +
                    '<input type="hidden" class="update-flag" name="colorAction[update][{{id}}]" value="{{update}}"/>' +
                    '<button class="scalable delete delete-option" title="Delete" type="button"><span><?php echo $this->__("Delete")?></span></button>' +
                    '<\/td>' +
                    '<\/tr>';
    var attributeOption = {
        table : $('grid_head'),
        templateSyntax : /(^|.|\r|\n)({{(\w+)}})/,
        templateText : templateText,
        itemCount : 1,
        totalItems : 0,
        //add dynamic row function
        add : function(data) {
		
            this.template = new Template(this.templateText, this.templateSyntax);
            if (!data.id) {
                data = {};
                data.id  = 'option_'+this.itemCount;
                // data.id = this.itemCount;
            }
            if (!data.intype)
                data.intype = optionDefaultInputType;			
            Element.insert(this.table, {after: this.template.evaluate(data)});
            this.bindRemoveButtons();
            this.itemCount++;
            this.totalItems++;
            this.updateItemsCountField();
			new jscolor.init();
        },
        //remove dynamic row function
        remove : function(event) {
            if (confirm('<?php echo $this->__("Do you really delete this background?");?>')) {
                var element = $(Event.findElement(event, 'tr'));
                element.ancestors().each(function(parentItem) {
                    if (parentItem.hasClassName('option-row')) {
                        element = parentItem;
                        throw $break;
                    } else if (parentItem.hasClassName('box')) {
                        throw $break;
                    }
                });

                if (element) {
                    var elementFlags = element.getElementsByClassName('delete-flag');
                    if (elementFlags[0]) {
                        elementFlags[0].value = 1;
                    }

                    element.addClassName('no-display');
                    element.addClassName('template');
                    element.hide();
                    this.totalItems--;
                    this.updateItemsCountField();
                }
            }
        },
        updateItemsCountField: function() {
            if (this.totalItems > 0) {
                $('option-count-check').value = '1';
            } else {
                $('option-count-check').value = '';
            }
        },
        bindRemoveButtons : function() {
            var buttons = $$('.delete-option');
            for (var i = 0; i < buttons.length; i++) {
                if (!$(buttons[i]).binded) {
                    $(buttons[i]).binded = true;
                    Event.observe(buttons[i], 'click', this.remove.bind(this));
                }
            }
        }

    }
    if ($('row-template')) {
        $('row-template').remove();
    }
    attributeOption.bindRemoveButtons();

    if ($('add_new_option_button')) {
        Event.observe('add_new_option_button', 'click', attributeOption.add.bind(attributeOption));
    }
    Validation.addAllThese([
        ['required-option', '<?php echo $this->__('Failed') ?>', function(v) {
			console.log(v);
            return !Validation.get('IsEmpty').test(v);
        }]
    ]);
    Validation.addAllThese([
        ['required-options-count', '<?php echo $this->__('Options is required') ?>', function(v) {
            return !Validation.get('IsEmpty').test(v);
        }]
    ]);
<?php    	
    if ($options = $this->getPrintableColorsValues()) {
        foreach ($options as $_value): ?>
        attributeOption.add(<?php echo $_value->toJson() ?>);
    <?php endforeach; } ?>
    //]]>
</script>