<div class="entity-edit" id="manage-options-panel">	
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Manage Quantity Colors Price') ?></h4>
    </div>
    <div>
		<ul class="messages">
			<li class="notice-msg" style="margin-top:11px;">
				<ul>
					<li><?php echo $this->__('Admin has to take care that each combination of quanity range should be exclusive with no overlapping quanitities.');?></li>									
				</ul>
			</li>
		</ul>
	</div>
	<?php 	
	$quantityRangecollection = Mage::getModel('qrange/qrange')->getCollection();
	$quantityRangecollection->getSelect()->columns(new Zend_Db_Expr("Concat(quantity_range_from,' - ',quantity_range_to) as quantity_range"));	
	$noOfcolorsCollection = Mage::getModel('colors/colors')->getCollection();	 
	?>
    <div class="box">
        <div class="hor-scroll">
            <table class="dynamic-grid" cellspacing="0" cellpadding="0" width="100%">
                <tr id="qc_grid_head">                   
                    <th class="w-150"><?php echo $this->__('Quantity Count') ?></th>					
                    <th class="w-150"><?php echo $this->__('Number of Colors') ?></th>
                    <th class="w-150"><?php echo $this->__('Side1 Price') ?></th>
                    <th class="w-150"><?php echo $this->__('Side2 Price') ?></th>
                    <th class="w-150"><?php echo $this->__('Side3 Price') ?></th>
                    <th class="w-150"><?php echo $this->__('Side4 Price') ?></th>
                    <!--<th class="w-150"><?php //echo $this->__('Position') ?></th> -->
					<!--<th class="w-150"></th>-->
					<th class="w-150"></th> 					
                    <th class="w-150">
                        <button id="add_new_qc_button" class="scalable add" style="" onclick="" type="button">
                            <span><?php echo $this->__('Add QC Price') ?></span>
                        </button>
                    </th>
                </tr>
                <tr id="attribute-options-table">
                </tr>
                <tr class="no-display template" id="qc-row-template">				
                    <td class="a-center">
					<select id="quantitySelect">
					<?php foreach ($quantityRangecollection as $quantityRange): ?>
						<option value="<?php echo $quantityRange->getQrangeId(); ?>"><?php echo $quantityRange->getQuantityRange(); ?></option>
					<?php endforeach; ?>
					</select>
					</td>
					<td class="a-center">
					<select id="colorSelect">
					<?php foreach ($colorsCollection as $quantityRange): ?>
						<option value="<?php echo $quantityRange->getQrangeId(); ?>"><?php echo $quantityRange->getQuantityRange(); ?></option>
					<?php endforeach; ?>
					</select>
					</td>
					<!--<td class="a-center"><input class="color required-entry input-text" type="text" name="qcPrice[color_code][{{id}}]" value="{{code}}"/></td>-->
					<td><input class="input-text" type="hidden" name="qcPrice[{{id}}][printing_method_id]" value="<?php echo $this->getPritingMethodId(); ?>"/></td>
					<td class="a-center"><input class="required-entry input-text" type="text" name="qcPrice[{{id}}][code]" value="{{code}}"/></td>
                    <td class="a-left">
                        <input type="hidden" class="delete-flag" name="qcPriceAction[delete][{{id}}]" value=""/>
                        <input type="hidden" class="update-flag" name="qcPriceAction[update][{{id}}]" value="{{update}}"/>
                        <button class="scalable delete delete-option" title="Delete" type="button"><span><?php echo $this->__("Delete")?></span></button>
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" id="option-count-check" value=""/>
    </div>
</div>

<script type="text/javascript">

    //<![CDATA[	
	
	
    var qcOptionDefaultInputType = 'text';
    //template for dynamic row
   
	 var qcTemplateText =
            '<tr class="option-row">' +
					'<td><select class="dynamic-pricing-select" id="quantitySelect_{{id}}" name="qcPrice[qty][{{id}}]">'+
					<?php foreach ($quantityRangecollection as $quantityRange): ?>
						' <option value="<?php echo $quantityRange->getQrangeId(); ?>"><?php echo $quantityRange->getQuantityRange(); ?></option>'+
					<?php endforeach; ?>
					'<\/select><\/td>'+
					'<td><select class="dynamic-pricing-select" id="colorSelect_{{id}}" name="qcPrice[noofcolor][{{id}}]">'+
					<?php foreach ($noOfcolorsCollection as $noOfcolors): ?>
						' <option value="<?php echo $noOfcolors->getColorsId(); ?>"><?php echo $noOfcolors->getColorsCounter(); ?></option>'+
					<?php endforeach; ?>
					'<\/select><\/td>'+
					//'<td><input class="required-entry input-text" type="text" name="qcPrice[color_name][{{id}}]" value="{{color_name}}"/><\/td>'+
					//'<td><input class="required-entry input-text" type="text" name="qcPrice[noofcolor][{{id}}]" value="{{noofcolor}}"/><\/td>'+
					'<td><input class="input-text validate-zero-or-greater" type="text" name="qcPrice[first_side_price][{{id}}]" value="{{first_side_price}}"/><\/td>' +
					'<td><input class="input-text validate-zero-or-greater" type="text" name="qcPrice[second_side_price][{{id}}]" value="{{second_side_price}}"/><\/td>' +
					'<td><input class="input-text validate-zero-or-greater" type="text" name="qcPrice[third_side_price][{{id}}]" value="{{third_side_price}}"/><\/td>' +
					'<td><input class="input-text validate-zero-or-greater" type="text" name="qcPrice[fourth_side_price][{{id}}]" value="{{fourth_side_price}}"/><\/td>' +
					//'<td><input class="input-text" type="text" name="qcPrice[sort_order][{{id}}]" value="{{sort_order}}"/><\/td>' +					
					//'<td><input class="input-text" type="hidden" name="qcPrice[{{id}}][printing_method_id]" value="<?php echo $this->getPritingMethodId(); ?>"/></td>'+
					'<td><input class="input-text" type="hidden" id="message_{{id}}" value="<?php echo $this->getPritingMethodId(); ?>"/></td>'+
                    '<td class="a-left">' +
                    '<input type="hidden" class="delete-flag" name="qcPrice[delete][{{id}}]" value="" />' +
                    '<input type="hidden" class="update-flag" name="qcPrice[update][{{id}}]" value="{{update}}"/>' +
                    '<button class="scalable delete delete-option" title="Delete" type="button"><span><?php echo $this->__("Delete")?></span></button>' +
                    '<\/td>' +
                    '<\/tr>';
    var qcattributeOption = {
        table : $('qc_grid_head'),
        qcTemplateSyntax : /(^|.|\r|\n)({{(\w+)}})/,
        qcTemplateText : qcTemplateText,
        qcItemCount : 1,
        totalItems : 0,
        //add dynamic row function
        add : function(data) {
            this.qcTemplate = new Template(this.qcTemplateText, this.qcTemplateSyntax);			
            if (!data.id) {
                data = {};
                data.id  = 'qc_'+this.qcItemCount;
            }
            if (!data.intype)
                data.intype = qcOptionDefaultInputType;		
			
            Element.insert(this.table, {after: this.qcTemplate.evaluate(data)});
            this.bindRemoveButtons();
            this.qcItemCount++;
            this.totalItems++;
            this.updateQCItemsCountField();
			// new jscolor.init();
			//set selected type
			if (data.intype) {
				$A($('quantitySelect_'+data.id).options).each(function(option){
					if (option.value==data.qty_range_id) option.selected = true;
				});
				$A($('colorSelect_'+data.id).options).each(function(option){
					if (option.value==data.noofcolor) option.selected = true;
				});
			}
        },
        //remove dynamic row function
        remove : function(event) {
            if (confirm('<?php echo $this->__("Do you really delete this price?");?>')) {
                var element = $(Event.findElement(event, 'tr'));
                element.ancestors().each(function(parentItem) {
                    if (parentItem.hasClassName('option-row')) {
                        element = parentItem;
                        throw $break;
                    } else if (parentItem.hasClassName('box')) {
                        throw $break;
                    }
                });

                if (element) {
                    var elementFlags = element.getElementsByClassName('delete-flag');
                    if (elementFlags[0]) {
                        elementFlags[0].value = 1;
                    }

                    element.addClassName('no-display');
                    element.addClassName('template');
                    element.hide();
                    this.totalItems--;
                    this.updateQCItemsCountField();
                }
            }
        },
        updateQCItemsCountField: function() {
            if (this.totalItems > 0) {
                $('option-count-check').value = '1';
            } else {
                $('option-count-check').value = '';
            }
        },
        bindRemoveButtons : function() {
            var buttons = $$('.delete-option');
            for (var i = 0; i < buttons.length; i++) {
                if (!$(buttons[i]).binded) {
                    $(buttons[i]).binded = true;
                    Event.observe(buttons[i], 'click', this.remove.bind(this));
                }
            }
        }

    }
    if ($('qc-row-template')) {
        $('qc-row-template').remove();
    }
    qcattributeOption.bindRemoveButtons();

    if ($('add_new_qc_button')) {
        Event.observe('add_new_qc_button', 'click', qcattributeOption.add.bind(qcattributeOption));
    }
    Validation.addAllThese([
        ['required-option', '<?php echo $this->__('Failed') ?>', function(v) {
            return !Validation.get('IsEmpty').test(v);
        }]
    ]);
    Validation.addAllThese([
         ['validate-zero-or-greater', 'Please enter a number 0 or greater in this field.', function(v) {
                if(v.length)
                    return parseFloat(v) >= 0;
                else
                    return true;
            }]
    ]);		
		// var qcArrayData = [
  // {"id":"3","qty_id":"11","no_of_color":"15","side1":"1","side2":"2","side3":"3","side4":"4"}, 
  // {"id":"4","qty_id":"12","no_of_color":"17","side1":"5","side2":"6","side3":"7","side4":"8"}, 
  // {"id":"5","qty_id":"13","no_of_color":"16","side1":"9","side2":"10","side3":"11","side4":"12"}
// ];
// var qcArrayData = [];
	// qcArrayData.forEach(function(qcArray) {
		// qcattributeOption.add(qcArray);
	// });
	<?php if ($options = $this->getQCPriceValues()): ?>
        <?php foreach ($options as $_value): ?>		
        qcattributeOption.add(<?php echo $_value->toJson() ?>);
    <?php endforeach; ?>
	<?php endif; ?>
    //]]>
</script>