<?php
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" /></p>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
    $breadcrumbs = $this->getLayout()->getBlock("breadcrumbs")->toHtml(); 
    $breadcrumbs = preg_replace('/(?:\s\s+|\n|\t)/', ' ', $breadcrumbs);
    $category_title = $this->getCurrentCategory()->getName();
    $category_desc  =$this->getCurrentCategory()->getDescription();
 
    
?>	
	<div class="xbox nav">
		<div class="inbox">
			<?php echo  $breadcrumbs." \n";  ?>
		</div>
	</div>
	
	<div class="xbox category">
		<div class="inbox">
			<div class="sidebar left">
				<div class="block gray">
					<?php if($_imgUrl) echo $_imgHtml; ?>
					<h1><?php echo $category_title; ?></h1>					
					<?php echo $category_desc; ?> 
				</div>
				
				<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
				
				<a href="#back" onclick="window.history.back(); return false;" class="back">&lt; Tilbage</a>
			</div>
			
			<div class="content right">
				 <?php echo $this->getProductListHtml() ?>
				
			</div>
		</div>
	</div>
 