<?php
/**
 * Copyright ePay | Dit Online Betalingssystem, (c) 2010.
 * 
 * This program is free software. You are allowed to use the software but NOT allowed to modify the software. 
 * It is also not legal to do any changes to the software and distribute it in your own name / brand. 
 */
//
// Load the epay standard object
//
$standard = Mage::getModel('epay/standard');

//
// Fetch order invoice info
//
$order = Mage::getModel('sales/order');
$order->loadByIncrementId($standard->getCheckout()->getLastRealOrderId());
$convertor = Mage::getModel('sales/convert_order');
$invoice = $convertor->toInvoice($order); 

$accepturl = Mage::getUrl('epay/standard/success');
$cancelurl = Mage::getUrl('checkout/cart');
$callbackurl = Mage::getUrl('epay/standard/callback');

//
// Go on and load the payment form containing the values
//
?>
<script type="text/javascript" src="https://ssl.ditonlinebetalingssystem.dk/integration/ewindow/paymentwindow.js" charset="UTF-8"></script>
<script type="text/javascript">
	paymentwindow = new PaymentWindow({
		'encoding': "UTF-8",
		'cms': "magento",
		'windowstate': "<?php echo $standard->getConfigData('windowstate', $order ? $order->getStoreId() : null) ?>",
		'merchantnumber': "<?php echo $standard->getConfigData('merchantnumber', $order ? $order->getStoreId() : null) ?>",
		'amount': "<?php echo ((float)$order->getBaseTotalDue()) * 100 ?>",
		'currency': "<?php echo $standard->convertToEpayCurrency($order->getBaseCurrency()->getCode()) ?>",
		'orderid': "<?php echo $standard->getCheckout()->getLastRealOrderId() ?>",
		'accepturl': "<?php echo $accepturl ?>",
		'cancelurl': "<?php echo $cancelurl ?>",
		'callbackurl': "<?php echo $callbackurl ?>",
		'mailreceipt': "<?php echo $standard->getConfigData('authmail', $order ? $order->getStoreId() : null) ?>",
		'smsreceipt': "<?php echo $standard->getConfigData('authsms', $order ? $order->getStoreId() : null) ?>",
		'instantcapture': "<?php echo $standard->getConfigData('instantcapture', $order ? $order->getStoreId() : null) ?>",
		'group': "<?php echo $standard->getConfigData('group', $order ? $order->getStoreId() : null) ?>",
		'language': "<?php echo $standard->calcLanguage(Mage::app()->getLocale()->getLocaleCode()) ?>",
		'ownreceipt': "<?php echo $standard->getConfigData('ownreceipt', $order ? $order->getStoreId() : null) ?>",
		'hash': "<?php echo $standard->calcMd5Key($order, Mage::getUrl('epay/standard/success'), Mage::getUrl('checkout/cart'), Mage::getUrl('epay/standard/callback')); ?>"
	});
	
	paymentwindow.open();
</script>

<h1><?php echo $this->__('EPAY_LABEL_5') ?></h1>
<?php echo $this->__('EPAY_LABEL_32') ?>
<br /><br />
<table border="0">
	<tr>
		<td>
			<label for="Orderid"><?php echo $this->__('EPAY_LABEL_7') ?> :</label>
		</td>
		<td>
		<label for="Orderid"><?php echo $standard->getCheckout()->getLastRealOrderId() ?></label>
	</td>
	</tr>
	<tr>
		<td>
			<label for="Amount"><?php echo $this->__('EPAY_LABEL_8') ?> :</label>
		</td>
		<td>
		<label for="CurrencyAmount"><?php echo $order->getBaseCurrency()->getCode() ?>&nbsp;<?php echo number_format($order->getBaseTotalDue(), 2, ',', ' ') ?></label>
	</td>
	</tr>
	<tr>
	<td colspan="2">
		<br>
		<input type="button" value="<?php echo $this->__('EPAY_LABEL_35') ?>" onclick="javascript: paymentwindow.open();"> <br><br>
		<?php echo $this->__('EPAY_LABEL_33') ?> <br><br>
		<?php echo $this->__('EPAY_LABEL_34') ?> <br><br>
	</td>
	</tr>
</table>