<?php $this->setPriceDataObject($this->getSource()) ?>
<?php if ((float) $this->getSource()->getSetupfeeAmount()): ?>
    <tr>
        <td class="label"><?php echo Mage::helper('printingmethod')->formatFee($this->getSource()->getSetupfeeAmount()) ?></td>
        <td>
            <?php echo $this->displayPrices($this->getSource()->getBaseSetupfeeAmount(), $this->getSource()->getSetupfeeAmount()); ?>
        </td>
    </tr>
<?php endif; ?>