<?php if($this->getCollection()->getSize()): ?>
<div class="toolbar">
	<div class="pager top">
		<p class="amount">
		    <?php if($this->getLastPageNum()>1): ?>
			<?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
		    <?php else: ?>
			<strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
		    <?php endif; ?>
		</p>        
		
		<div class="limiter">
		    <label><?php echo $this->__('Show') ?></label>
		    <select onchange="setLocation(this.value)">
		    <?php foreach ($this->getAvailableLimit() as  $_key=>$_limit): ?>
			<option value="<?php echo $this->getLimitUrl($_key) ?>"<?php if($this->isLimitCurrent($_key)): ?> selected="selected"<?php endif ?>>
			    <?php echo $_limit ?>
			</option>
		    <?php endforeach; ?>
		    </select> <?php echo $this->__('per page') ?>
		</div>
	</div>
    
	<div class="pager bottom">		  
		<?php echo $this->getPagerHtml() ?>
    
		<?php if( $this->isExpanded() ): ?>
		    <div class="sorter">    
			<div class="sort-by">
			    <label><?php echo $this->__('Sort By') ?></label>
			    <select onchange="setLocation(this.value)">
			    <option value="<?php echo $this->getOrderUrl('price', 'asc') ?>"<?php if($this->isOrderCurrent('price') && $this->getCurrentDirection() == 'asc'): ?> selected="selected"<?php endif; ?>>
				Laveste Pris
			    </option>
			    <option value="<?php echo $this->getOrderUrl('price', 'desc') ?>"<?php if($this->isOrderCurrent('price') && $this->getCurrentDirection() == 'desc'): ?> selected="selected"<?php endif; ?>>
				Højeste Pris
			    </option>
			    <option value="<?php echo $this->getOrderUrl('name', 'asc') ?>"<?php if($this->isOrderCurrent('name') && $this->getCurrentDirection() == 'asc'): ?> selected="selected"<?php endif; ?>>
				Navn A-Z
			    </option>
			    <option value="<?php echo $this->getOrderUrl('name', 'desc') ?>"<?php if($this->isOrderCurrent('name') && $this->getCurrentDirection() == 'desc'): ?> selected="selected"<?php endif; ?>>
				Navn Z-A
			    </option>
			    <option value="<?php echo $this->getOrderUrl('entity_id', 'desc') ?>"<?php if($this->isOrderCurrent('entity_id') && $this->getCurrentDirection() == 'desc'): ?> selected="selected"<?php endif; ?>>
				Nyeste Til Ældste
			    </option>
			    <option value="<?php echo $this->getOrderUrl('entity_id', 'asc') ?>"<?php if($this->isOrderCurrent('entity_id') && $this->getCurrentDirection() == 'asc'): ?> selected="selected"<?php endif; ?>>
				Ældste Til Nyeste
			    </option>
			</select>
			</div>
		    </div>
		<?php endif; ?>
	</div>	    
</div>
<?php endif ?>
