<?php
$_item = $this->getItem();
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
 
if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()) {
	$price = $_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition(); 
	$subPrice = $_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition();
} else { 
	$price = $_item->getCalculationPrice();
	$subPrice = $_item->getRowTotal();
}
$symbol = " ".Mage::helper('function')->getCuSymbol(); 
$price  = number_format($price, 2, ',', '.').$symbol;
$subPrice  = number_format($subPrice, 2, ',', '.').$symbol;


?>
<tr class="cart-item">
	<td class="tdcenter pImg"><?php if ($this->hasProductUrl()):?><a href="<?php echo $this->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getProductName()) ?>" class="product-image"><?php endif;?><img src="<?php echo $this->getProductThumbnail()->resize(120); ?>" width="120" height="120" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" /><?php if ($this->hasProductUrl()):?></a><?php endif;?></td>
	<td class="pTitle">
		<?php  
			// get parent by SKU (modelno)
			$title= $this->htmlEscape($this->getProductName());  
			$url = $this->getProductUrl();  
			$pp = Mage::getModel('catalog/product')->load($_item->getData("product_id"));   //var_dump($pp->getData());
			$modelno = $pp->getData("modelno");
			$sku = $pp->getData("sku");
			$color = $pp['attr_color']; if ($color) $color = Mage::helper('function/Data')->attrID2Label("attr_color",$color).", ";
			$size = $pp['attr_size']; if ($size) $size = Mage::helper('function/Data')->attrID2Label("attr_size",$size);
			if ($modelno) $parent = Mage::getModel('catalog/product')->loadByAttribute('sku', $modelno); 
			if ($parent) { //var_dump($parent->getData());
				$url = $parent->getProductUrl();
				$title = $this->htmlEscape($parent->getName());
			}
			$titleshow =  "$title - itemnr. $sku";
			if ($url) $titleshow = "<a href='$url'>$titleshow</a>";
			$titlesub = "$color$size";
			//echo "$modelno / $color / $size / $url";
		?>	
		<p class="product-name"><?php echo $titleshow; ?></p> 		
		<p class="product-sub"><?php echo $titlesub; ?></p> 		
	</td>
	
	<td class="tdcenter pQty">
		Antal<input name="cart[<?php echo $_item->getId() ?>][qty]" value="<?php echo $this->getQty() ?>" size="4" title="<?php echo $this->__('Qty') ?>" class="input-text qty" maxlength="12" />
	</td>
	
	<td class="tdcenter pUpdate"><a href="#update" onclick="clickButton('update_cart_button'); return false;"><?php echo $this->__('Opdater')?></a></td>
	<td class="tdcenter pDelete"><a href="<?php echo $this->getDeleteUrl()?>"><?php echo $this->__('Fjern')?></a></td>
 
	<?php if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()): ?>
	<td class="pPrice">
		<p>Stykpris</p><span class="cart-price"><?php echo $price; ?></span>
	</td>
	<?php endif; ?> 

	
	<?php if (($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()) && !$_item->getNoSubtotal()): ?>
	<td class="a-right pSubTotal">		
		<p>Subtotal</p><span class="cart-price"><?php echo $subPrice; ?></span>
	</td>
	<?php endif; ?>    	
	
</tr>
