

	
	<div class="xbox product_detail">
		<div class="inbox">
			<div class="info">
				<?php  $p = $this->getProduct();  $isLogged = $this->helper('customer')->isLoggedIn();  $uname = $_COOKIE['admin_username'];?>
				<form action="<?php echo $this->getSubmitUrl($p) ?>" method="post" id="product_addtocart_form"<?php if($p->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>									
					<h1><?php echo $p->getName(); ?></h1>
					<p class="itemno">Itemnumber: <?php  echo $p->getSku(); ?></p>				
					<div class="desc">
						<?php echo $p->getDescription() ?>
					</div>					
					
					<?php  
						$msrp = number_format($p->getMsrp(), '2', ',', '.');
						$srp = number_format($p->getPrice(), '2', ',', '.');
						if ($p->getData('type_id') == "grouped"){
							$prod1 = $p->getTypeInstance(true)->getAssociatedProducts($p); //First product from group 
							$msrp = number_format($prod1[0]->getMsrp(), '2', ',', '.');
							$srp = number_format($prod1[0]->getPrice(), '2', ',', '.');
						}
					?>
					
					<p class="price">SRP: <?php echo $msrp;  ?> DKR</p>
					
					<?php if ( $isLogged || $uname) : ?>
					<div class="show_costs" style="height:180px">
						<a href="#ShowCosts">Vis kostpris</a>
						<p class="price">RPR: <?php echo $srp;  ?> DKR</p>
					</div>
					<?php endif; ?>	
					
					<?php //$parent = Mage::getModel('catalog/product_type_configurable')->getParentIdsByChild($p->getId()); echo "parent: "; var_dump($parent); ?>
 
					<div class="variants">		
						<?php if ( $isLogged || $uname) : ?>
						<?php error_reporting(-1); echo $this->getChildHtml('description') ?>		
					  <?php endif; ?>	
						<div class="legend">
						<?php   if($p->isSaleable() && ( $isLogged || $uname)):  ?>			
							<div class="add_to_cart">
							<?php if ($p->getData('type_id') == "grouped") : ?>
								<input type="button" onclick="vangard_addtocart()" />
								<p></p>
							<?php else : ?>		
								<input type="button" onclick="productAddToCartForm.submit(this)" />
							<?php endif; ?>		
							</div>
						<?php endif; ?>	
                        <?php if ( $isLogged || $uname) : ?>						
							<div class="icons">
								<p><span></span>P&aring; lager</p>
								<p><span></span>Mindre Lager</p>
								<p><span></span>Begr&aelig;nset lager</p>
								<p>Hold musen over en rød boks for at se den forventede leveringstid.</p>						
							</div>
                            <?php endif; ?>	
						</div>
					</div>
					
					<input type="hidden" name="product" value="<?php echo $p->getId() ?>" />
					
				</form>
			</div>						
			 
			<?php echo $this->getChildHtml('media') ?>
			
		</div>
	</div>
 
	<?php	
		$collection = Mage::getModel('catalog/product')->getCollection();
		$collection->addAttributeToSelect('*');	
		$collection->addFieldToFilter(array(
			array('attribute'=>'featured','eq'=>1),
		));
	    
		$i=0; $show = 4; $desclen = 45; //var_dump($products->_data);
		foreach ($collection as $product) {
			if ($i < $show){			
				$title = $product->getName(); 
				$img = $this->helper('catalog/image')->init($product, 'image')->resize(200,193);
				$desc = $product->getShortDescription(); if (strlen($desc)>$desclen) $desc = substr($desc,0,$desclen)."...";
				$url = $product->getProductUrl();
				$list .= '<li><a href="'.$url.'"><img src="'.$img.'" /><p class="title">'.$title.'</p><p class="desc">'.$desc.'</p><p class="more">Mere information om produktet ></p></a></li>';	
			}
			$i++;
		}
	?>

	<?php if($list) : ?>
	<div class="xbox featured_products <?php if ($inner) echo "inner"; ?>">
		<div class="inbox">	
			<h2>Udvalgte Produkter</h2>
			<ul class="product list">
				<?php echo $list; ?>
			</ul>
		</div>
	</div>
	<?php endif;?>
 
 	
	<script type="text/javascript">
	//<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
	
	</script>
 