<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>

			<?php if(!$_productCollection->count()): ?>
				<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
			<?php else: ?>

				<ul class="product list">
				<?php foreach ($_productCollection as $_product):  
					$desclen = 45;
					$desc =  $_product->getShortDescription(); //echo $desc;
					if (strlen($desc)>$desclen) $desc = substr($desc,0,$desclen)."...";
				?>
					<li><a href="<?php echo $_product->unsRequestPath()->getUrlInStore(array('_ignore_category' => true)); ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200,193); ?>" /><p class="title"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></p><p class="desc"><?php echo $desc; ?></p><p class="more">Mere information om produktet ></p></a></li>
				<?php endforeach; ?>
				</ul>	
				
			<?php endif; ?>
			
			
			 <?php echo $this->getToolbarHtml() ?>