					<?php
					
					$p = $this->getProduct();
					//Mage::helper('function')->testing(); 					
					if ($p->getData('type_id') == "grouped") :
						
						$prods = $p->getTypeInstance(true)->getAssociatedProducts($p);
						$attrColors = [];
						$attrSizes = [];             
						
						foreach ($prods as $prod){
							$size = $prod->getAttributeText('attr_size');
							$color = $prod->getAttributeText('attr_color');
							$backavail = $prod->getData('backorder_availability'); if ($backavail) $backavail = date("F j, Y", strtotime($backavail));
							$qty = Mage::getModel('cataloginventory/stock_item')->loadByProduct($prod)->getQty();
							if (!in_array($color,$attrColors)) $attrColors[] = $color;
							if (!in_array($size,$attrSizes)) $attrSizes[] = $size;
							if ($size && $color){
								$vars[$color][$size] = $val;
								$vars2[$color][$size]["qty"] = $qty;
								$vars2[$color][$size]["backavail"] =  $backavail;
								$vars2[$color][$size]["id"] =  $prod->getId();
							}
							//echo $prod->getName();
						}						
						//var_dump($attrColors); var_dump($attrSizes);	
						
						$attrColors = Mage::helper('function')->attOrder("attr_color",$attrColors);
						$attrSizes = Mage::helper('function')->attOrder("attr_size",$attrSizes);
						//var_dump($attrSizes);
					 
						foreach ($attrSizes as $b){ $th .= "<th>$b</th>"; }
						foreach ($attrColors as $color){ $sizes = "";
							foreach ($attrSizes as $size){
								$class = ""; $title="";
								$qty = intval($vars2[$color][$size]["qty"]);
								$date = $vars2[$color][$size]["backavail"];  if (!$date) $date = "NOTSET";
								$pid = $vars2[$color][$size]["id"];
								if ($qty<=0){ 									
									$class=" class='r' "; //echo "$qty / $date / 2<br/>";
									$title = " title='Expected Delivery Date : $date' "; 
								}
								$sizes .= "<td $class $title><input type='text' id='pid$pid' value='0' class='product-item' /></td>";
							}
							$tr .= "<tr><td>$color</td>$sizes</tr>";												
						}
					 
					 
					 ?>
					 
						<!--
						<table>
							<tr><th>Colour</th><th>S</th><th>M</th><th>L</th><th>XL</th><th>XXL</th><th>3XL</th><th>4XL</th></tr>
							<tr><td>Blue</td><td>0</td><td>0</td><td class="o">0</td><td class="o">0</td><td class="o" title="Expected delivery date">0</td><td class="r" title="Expected delivery date">0</td><td class="r" title="Expected delivery date">0</td></tr>
							<tr><td>White</td><td>0</td><td>0</td><td>0</td><td>0</td><td class="o">0</td><td class="r" title="Expected delivery date">0</td><td class="r" title="Expected delivery date">0</td></tr>
						</table>
						-->
						
						<table>
							<tr><th>Colour</th><?php echo $th ?></tr>
							<?php echo $tr; ?>
						</table>
						
					<?php endif;  ?>
