
	<div class="xbox product_detail">
		<div class="inbox">
			<div class="info">
				<?php  
					$p = $this->getProduct();  
					$isLogged = $this->helper('customer')->isLoggedIn();  
					$cid = $_COOKIE['cid'];
					$uname = $_COOKIE['admin_userid'];  //echo "$cid / $uname / ".$p->isSaleable();
				?>
				<form action="<?php echo $this->getSubmitUrl($p) ?>" method="post" id="product_addtocart_form"<?php if($p->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>									
					<h1><?php echo $p->getName(); ?></h1>
					<p class="itemno">Itemnumber: <?php  echo $p->getSku(); ?></p>				
					<div class="desc">
						<?php echo $p->getDescription() ?>
					</div>					
					
					<?php  						
						$rawPrice = Mage::helper('function')->getPrice($p->getId());
						$msrp = $rawPrice['msrp'];
						$srp =  $rawPrice['srp'];
						$cuSymbol =  $rawPrice['cuSymbol'];						
						//echo "<p><strong>[ Dev ]</strong> $cuSymbol | $msrp | $srp</p>";												
					?>
					
					<p class="price">SRP: <?php echo $msrp;  ?> <?php echo $cuSymbol; ?></p>
					
					<?php if ( $isLogged || $uname) : ?>
					<div class="show_costs">
						<a href="#ShowCosts">Vis kostpris</a>
						<p class="price">RPR: <?php echo $srp;  ?> <?php echo $cuSymbol; ?></p>
					</div>
					<?php endif; ?>	

					<div class="variants">		
						<?php if ( $isLogged || $uname) : ?>
						<?php error_reporting(-1); echo $this->getChildHtml('description') ?>		
					  <?php endif; ?>
						<?php if ($p->getData('type_id') == "grouped") : ?>
						<div class="legend">
							<?php   if($p->isSaleable() && ( $isLogged || $uname)):  ?>			
							<div class="add_to_cart">
								<?php if ($p->getData('type_id') == "grouped") : ?>
								<input type="button" onclick="vangard_addtocart()" />
								<p></p>
								<?php else : ?>		
								<input type="button" onclick="productAddToCartForm.submit(this)" />
								<?php endif; ?>		
							</div>
							<?php endif; ?>		
							 <?php if ( $isLogged || $uname) : ?>					
							<div class="icons">
								<p><span></span>P&aring; lager</p>
								<p><span></span>Mindre Lager</p>
								<p><span></span>Begr&aelig;nset lager</p>
								<p>Hold musen over rose bokse for at se forventede leveringstid.</p>						
							</div>
							<?php endif; ?>	
							</div>
						<?php endif; ?>	
					</div>
					
					<input type="hidden" name="product" value="<?php echo $p->getId() ?>" />
					
				</form>
			</div>						
			 
			<?php echo $this->getChildHtml('media') ?>
			
		</div>
	</div>
	
	<?php $data['inner'] = 1; Mage::helper('function')->featuredProduct($data); ?>
 	
	<script type="text/javascript">
	//<![CDATA[	
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
		
		jQuery(window).load(function() {
			var pItems = jQuery(".product-item").length;
			if (pItems<=0){
				jQuery(".variants .legend").hide();				
			}			
		});

	</script>
 